[2015-11-15 10:12] star-buck opened #211 "[img]: ship firefox-arm default"

[2015-11-15 10:13] star-buck commented on #181
closing this here.

[2015-11-15 10:13] #181 closed

[2015-11-15 10:15] star-buck commented on #191
Update Note:

Since we now have
http://neon.pangea.pub
I following old kci logic and added
http://mobile.neon.pangea.pub

[2015-11-15 10:18] star-buck commented on #191
For now mobile.neon points to same server as mobile.kci.

[2015-11-15 10:21] star-buck opened #212 "[gnome-chess]: touch no longer works (needs xwayland 1.18)"

[2015-11-15 10:21] bhush9 commented on #210
Some important package got removed, thats why oh its gorgeous is also not playing.. Now that I am back from vacation, I will look into it.

[2015-11-15 10:26] bhush9 commented on #191
Is neon.pangea.pub down or doesn't point to anything yet? it says ERR_CONNECTION_REFUSED for me?

[2015-11-15 10:29] star-buck opened #213 "[kmhajongg]: does start from konsole, but not from launcher"

[2015-11-15 10:32] #183 closed

[2015-11-15 10:34] star-buck opened #214 "[gltron, frozen-bubble]: worked well before (gfx and sound), now window popping up shows only black screen inside"

[2015-11-15 10:35] star-buck commented on #201
img11: still not working

[2015-11-15 10:36] star-buck commented on #191
neon.pangea.pub may not be setup completely serverside yet. but both domain and DO server exist.

[2015-11-15 10:37] star-buck opened #215 "[img11]: "take screenshot" doesnt do anything"

[2015-11-15 10:39] #9 closed

[2015-11-15 10:40] star-buck commented on #120
this worked before, but with IMG11 seems to have stopped working.

[2015-11-15 10:41] #115 closed

[2015-11-15 10:42] bhush9 commented on #215
It takes screenshot with 10 sec delay and stores it under ~/Pictures (Yes, I believe that usability is not great currently, but it works for taking screenshot currently) Later I will see if it can be hooked into power+volume up keypress..

[2015-11-15 10:44] star-buck opened #216 "[HWComposer]: fix tearing problem"
kwin tears when scrolling (when rapidly scrolling through the list of applications, a line is visible in the middle of the screen, with content 1 frame ahead)

[2015-11-15 10:44] #175 closed

[2015-11-15 10:48] star-buck commented on #215
ah, maybe it should say that then somewhere as text or do a countdown?

[2015-11-15 10:49] star-buck commented on #216
transferred this ticket out of an old summary ticket, not sure if thats still valid or can be closed...

[2015-11-15 10:50] bhush9 commented on #216
It is fixed with recent kwin.. (Not in IMG11 by default, but upgrade should bring it)

[2015-11-15 10:52] star-buck commented on #132
img11: still crashes the same

[2015-11-15 10:54] star-buck commented on #216
okay. since the current img11 looks much better with regrads to previous tearing, closing this now.

[2015-11-15 10:54] #216 closed

[2015-11-15 10:56] star-buck commented on #160
@bhush9 : please include this default for now as testing app for
* sound and
* to see if click/mir apps still work

[2015-11-15 10:57] star-buck commented on #159
@bhush9 :
ship this for now default with next img.

[2015-11-15 10:58] star-buck commented on #153
@jriddell : is this solved?

[2015-11-15 13:44] sebasje commented on #132
The bug should be fixed now, but it probably hasn't made it into the image yet.

[2015-11-15 13:48] bhush9 commented on #132
@sebasje : any specific commit?

[2015-11-15 15:10] mgraesslin commented on #120
actually there is a better way now: we "just" need to ship Xwayland 1.18 (which got released last week). It now has proper support for touch events built in. I want to open a dedicated issue for that anyway.

[2015-11-15 15:11] mgraesslin opened #217 "[XWayland]: Provide XWayland 1.18"
Please provide the latest XWayland server (1.18) in the image. It got released last week and brings important improvements for X11 applications like touch support.

[2015-11-15 15:12] mgraesslin commented on #120
and created #217 for that.

[2015-11-15 15:16] bhush9 commented on #217
Is it available in some ppa or something?

[2015-11-16 06:42] bhush9 commented on #160
Turns out it is already installed, just not showing up in launcher area.. will investigate

[2015-11-16 07:01] bhush9 commented on #160
Actually it is not getting installed at all..

[code]

[2015-11-16 07:06] mgraesslin commented on #217
I do not know but Debian experimental has (working) packages.

[2015-11-16 08:45] mgraesslin commented on #132
http://commits.kde.org/kscreen/4653c287f844f2cb19379ff001ca76d7d9e3a2a1

[2015-11-16 08:46] mgraesslin commented on #132
which might not be the same, I misinterpreted this to be the kscreen kcm in systemsettings

[2015-11-16 10:08] sebasje commented on #132
Yes, that's the commit I was thinking of. I had debugged this problem at some point, but couldn't figure out the cause, if I recall correctly, this seems to be the fix we needed. Let's try once package updates are available.

[2015-11-16 11:10] star-buck commented on #124
shipped and kinda works

[2015-11-16 11:10] #124 closed

[2015-11-16 11:12] star-buck commented on #160
The file on dropbox is there?
Have you followed this tutorial from @aleixpol : https://github.com/blue-systems/pm-img/issues/21#issuecomment-112996191 ?

[2015-11-18 17:28] jriddell opened #218 "kscreenlocker packaging"
<bshah> Riddell: random note: we also want kscreenlocker on mobile CI

[2015-11-18 18:33] shadeslayer commented on #218
Should just be a matter of running the script that updates the jobs.

[2015-11-19 03:57] bhush9 commented on #218
Requires this against CI tooling

[code]

[2015-11-19 03:57] bhush9 commented on #218
And then upgrade.

[2015-11-19 04:00] bhush9 commented on #218
And also kubuntu_vivid_mobile branch should be created in qtsvg

[2015-11-20 03:34] bhush9 commented on #218
Closing as kscreenlocker build is added in mobile CI.

[2015-11-20 03:34] #218 closed

[2015-11-20 12:55] bhush9 opened #219 "[packaging] kdeclarative packaging adjustments"
KDeclarative package doesn't provide /usr/lib/x86_64-linux-gnu/libKF5CalendarEvents.so.5.16.0 which makes things fail with,

[code]

[2015-11-20 17:57] jriddell commented on #219
added but it won't build now because frameworks has been bumped to 5.16 by kubuntu so it needs all of frameworks rebuilt

[2015-11-21 03:16] bhush9 commented on #219
Now, Sounds like other packages like plasma-framework/kcmutils needs to depend upon libkf5calendarevents5 ?

[2015-11-21 11:42] jriddell commented on #219
discussed on irc, rebuilding

[2015-11-21 13:30] bhush9 commented on #219
Fixed now.

[2015-11-21 13:30] #219 closed

[2015-11-21 15:07] bhush9 commented on #173
I think, now we can safely remove at least this from this ppa:

- samegame : packaged on MobileKCI already
- consolekit(2) : I believe it was added to fix polkit issue mentioned in #130 but no longer required
- libepoxy : already in mobile CI
- voicecall and friends (libresource, libresourceqt) : voicecall dependency was removed from the plasma-phone-components quite sometime ago.
- qtwayland : we

[2015-11-21 15:11] bhush9 commented on #173
Things I am not sure about are:

- ubuntu-touch-session : why it is pinned to specific version?
- signon-ui : do we ship some specific patches?
- telepathy-mission-control : same question as signon-ui (maybe we can add them in CI?)
- libngf-qt : ????!
- dekko : ????!

[2015-11-22 06:07] bhush9 opened #220 "[packaging] Various packaging adjustments required for IMG12"
- [x] Marble

Needs depend on qt5script-dev, Fails with

[code]

- [x] breeze

breeze-icons was split out of it, so breeze-icons needs packaging and breeze needs adjustment, amd64 build fails with :

[code]

- [x] Muon

discover got split out of it needs discover packaged and muon packaging adjusted, fails with

[code]

- [x] Plasma settings

EMAKESNOSENSETOME

[code]

- [x] plasma-workspace

Requ

[2015-11-22 11:08] jriddell commented on #220
marble does depend on qtscript but I think qtlocation now needs updated to 5.5 to bring in the right version

[2015-11-22 17:27] jriddell commented on #220
some faff while fixing or working round changes in pangea-tooling (jenkins jobs now have debian repository in name but the old jobs are still around)
qtlocation done
breeze-icons done
discover done
muon compiling away

[2015-11-22 17:52] jriddell commented on #220
breeze compiling
qtquickcontrols-opensource-src compiling
marble compiling

[2015-11-22 18:13] jriddell commented on #220
qt sensors compiling
muon done!
breeze done!

[2015-11-23 05:56] bhush9 commented on #220
plasma-workspace building away
plasma-settings building away

marble still failing(?)

[2015-11-23 06:30] bhush9 commented on #220
plasma-workspace and plasma-settings built
powerdevil building

[2015-11-26 06:52] bhush9 commented on #220
marble also fixed.. overall solved.. closing.

[2015-11-26 06:52] #220 closed

[2015-11-26 06:53] bhush9 commented on #211
Available in IMG12, however somehow it is not functional (not getting touch events at all)

Will need investigation.

[2015-11-26 06:54] bhush9 commented on #204
Qt 5.5 now available in IMG12

[2015-11-26 06:54] bhush9 commented on #201
Apparently now we have qt5.5 and still it doesn't start due to some symbol mismatch.. needs investigation.

[2015-11-26 06:56] bhush9 commented on #171
No longer happens now as we are using qt 5.5 from our CI.

[2015-11-26 11:52] star-buck opened #221 "[taskbar]: shopping bag icon shown instead of task icon"

[2015-11-26 11:53] star-buck opened #222 "[topbar panel]: crashing plasma when pulling down"

[2015-11-26 11:53] star-buck opened #223 "[close button]: opening an app doesnt make X-Close become active"
example: starting marble maps fails endlessly as app never comes up, but close button doesnt become active to close it (worked previously).

[2015-11-26 11:55] #211 closed

[2015-11-26 11:56] star-buck opened #224 "[firefox]: doesnt take input (needs xwayland 1.18)"

[2015-11-26 11:56] #204 closed

[2015-11-26 11:57] #171 closed

[2015-11-26 12:00] star-buck commented on #130
then closing this.

[2015-11-26 12:00] #130 closed

[2015-11-26 12:01] bhush9 commented on #224
Related to #212 and #217

I can not seem to find xwayland 1.18 for the ubuntu, and building them is also not a solution given it will require rebuild of various stuffs depending upon it(?)

[2015-11-26 12:01] star-buck commented on #89
screen turns off with img-12, so closing this

[2015-11-26 12:01] #89 closed

[2015-11-26 12:03] star-buck commented on #210
is sound now working?

[2015-11-26 12:05] star-buck commented on #73
closing now

[2015-11-26 12:05] #73 closed

[2015-11-26 12:08] bhush9 commented on #210
no, I haven't managed to find which package causes sound to not working, tried various combinations.. will investigate more.

[2015-11-26 13:33] eikehein commented on #221
App name, Plasma version, screenshot ...?

[2015-11-26 13:35] notmart commented on #221
that icon used to be the same as in kickoff, so now it uses the new one...
i guess a separate icon named "window-list" or something like that is needed

[2015-11-26 13:36] bhush9 commented on #221
It is using "applications-other" icon.. dunno why designer decided to replace it with shopping bag..

[2015-11-26 14:17] star-buck opened #225 "[ubuntu apps]: list of apps"
Browser (https://launchpad.net/ubuntu/+source/oxide-qt)
animal-farm (https://launchpad.net/~plasma-phone/+archive/ubuntu/ubuntu-apps)
Music App (https://launchpad.net/~plasma-phone/+archive/ubuntu/ubuntu-apps)
minesweeper-touch (https://launchpad.net/~plasma-phone/+archive/ubuntu/ubuntu-apps)
ubuntu-filemanager-app (https://launchpad.net/~plasma-phone/+archive/ubuntu/ubuntu-apps)

[2015-11-28 13:10] bhush9 commented on #201
Starts with IMG12

[2015-11-28 13:17] bhush9 commented on #197
Now one no-longer gets gstreamer errors like that but now instead rainbow bars are shown... meh..

[2015-11-28 14:04] bhush9 commented on #210
yey... found that alsa-base, linux-sound-base and pulseaudio-module-droid packages needs to be installed. Updated mobster code, will be working in next IMG13

[2015-11-30 14:21] notmart opened #226 "reintegrate Qt patches in our Qt build"
the two patches needed are:
https://codereview.qt-project.org/#/c/121709/
https://codereview.qt-project.org/#/c/121659/
revision
3660cd60e9a8f74203b2eefef23f4baa383f75c3
in qtquickcontrols
there may be other ones, that's what i can think about for now

[2015-11-30 16:34] bhush9 commented on #226
This two are added.. will add 3660cd60e9a8f74203b2eefef23f4baa383f75c3 in tomorrow morning

[2015-12-01 10:17] bhush9 commented on #226
done..

[2015-12-01 10:17] #226 closed

[2015-12-01 15:18] mck182 commented on #173
signon-ui - yes, requires a special patch for vivid [1]
telepathy-mission-control - I believe that this also still requires a patch for vivid [2]

[1] - https://code.launchpad.net/~mardy/signon-ui/lp1473422
[2] - https://bugs.freedesktop.org/show_bug.cgi?id=91272 and https://bugs.launchpad.net/ubuntu/+source/telepathy-mission-control-5/+bug/1473011

[2015-12-01 16:08] bhush9 commented on #209
This seems to be done.. please verify everything is fine.. I will add kaccounts-mobile in next image.

[2015-12-07 15:59] bhush9 commented on #225
Some animals in farm...

![some animals in farm..](https://cloud.githubusercontent.com/assets/1061944/11631536/710c50b2-9d28-11e5-80bb-9b34eaf7d49b.png)

[2015-12-07 16:37] notmart commented on #221
I added a window-list icon in plasma-framework (should look like the old one) and changed it in plasma-phone-components, rebuilding those 2 packages should fix it

[2015-12-08 08:58] bhush9 commented on #194
I am removing the channel for this from kubuntu.plasma-mobile.org, it somehow makes publishing of other images fail (normal Nexus5 images)

[code]

[2015-12-08 12:12] bhush9 commented on #163
http://commits.kde.org/scratch/davidedmundson/simplelogin/89328a01cbf67d917e2c7364289ad9c3fe0c501b

As lockscreen for mobile was fixed in kwin, I've now enabled the lockscreen on boot for phone.. @mck182 : now what needs to be done to do unlock-screen-to-unlock-wallet for mobile?

[2015-12-12 23:43] star-buck commented on #217
do we have packages ready for shipping in v13?

[2015-12-13 04:07] bhush9 commented on #217
Unfortunately not yet.. There are no packages available for xwayland 1.18, there are xorg server git ppa named "X crackers" but it doesn't provide xwayland..

[2015-12-14 17:14] jriddell opened #227 "make static_ci in mci work with neon git"
to keep debian folks happy static_ci should use neon git repos instead of debian pkg-kde repos

I changed mci.json statuc_ci "type": "neon" and set  ci-tooling/lib/projects.rb to use it.

But the build still seems to use anonscm.debian.org
looking at build logs at http://mobile.kci.pangea.pub:8080/job/vivid_unstable_qt_qtxmlpatterns_src/

what am I missing?

[2015-12-15 06:44] apachelogger commented on #227
a test for the code you added

[2015-12-15 06:45] bhush9 commented on #222
Seems to be fixed with IMG13.

[2015-12-15 06:46] bhush9 commented on #210
Fixed with IMG13

[2015-12-15 06:46] bhush9 commented on #209
Available in IMG13.

[2015-12-15 06:46] bhush9 commented on #221
Fixed in IMG13

[2015-12-15 06:50] apachelogger commented on #227
and a test showing your problem

Updating vivid_unstable_qt_qtxmlpatterns_src
<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description/>
  <keepDependencies>
    false
  </keepDependencies>
  <properties>
  </properties>
  <scm class='org.jenkinsci.plugins.multiplescms.MultiSCM' plugin='multiple-scms@0.4'>
    <scms>
      <hudson.plugins.git.GitSCM plugin='git@2.3.5'>

[2015-12-16 18:25] #221 closed

[2015-12-16 18:26] #222 closed

[2015-12-16 18:26] #210 closed

[2015-12-16 18:40] star-buck commented on #201
it doesnt, and also doesnt with img13

[2015-12-16 18:42] star-buck opened #228 "[img13]: "close button" in taskbar doesnt become active when an app starts"
example: starting marble maps fails endlessly as app never comes up, but close button doesnt become active to close it (worked previously).

[2015-12-16 18:46] star-buck opened #229 "[usb]: can no longer connect via mtp"
maybe mtp isnt started, but dolphin only shows this:
![mtp-1](https://cloud.githubusercontent.com/assets/840070/11850451/2a9c3a78-a3e2-11e5-91a0-8543777181ec.png)
clicking a second time on the Nexus 5 entry:
![mtp-2](https://cloud.githubusercontent.com/assets/840070/11850457/38036eca-a3e2-11e5-93f9-d09be802341e.png)

[2015-12-16 18:47] star-buck commented on #223
img13: still not working

[2015-12-16 18:47] #228 closed

[2015-12-16 18:50] star-buck commented on #160
@bhush9 @aleixpol : please look into make that .click-app install again

[2015-12-16 19:32] star-buck commented on #173
URL is no longer kci, but neon: http://mobile.neon.pangea.pub/

[2015-12-16 19:37] star-buck opened #230 "[wifi]: plasma crashes after connection established"

[2015-12-16 19:39] star-buck commented on #212
img13: still not working

[2015-12-16 19:43] star-buck commented on #195
img13: still shows "Kubuntu" + logo in kinfocenter

[2015-12-16 19:50] star-buck commented on #197
img13: now doesnt even start anymore

[2015-12-17 03:47] bhush9 commented on #197
Yeah, camera is known to break.. our newer libhybris is incompatible with qtubuntu-camera plugin for qtmultimedia. I am working on solution.. most probably it will be fixed in next image or image+1.

[2015-12-17 17:01] bhush9 commented on #201
fun.. with IMG12 it was starting and working and (IMG12 was promoted to devel channel to IMG7) but not in IMG13.. dunno what changed in between.

[2015-12-17 17:02] bhush9 commented on #201
Rebuilding marble in hope it fixes it.

[2015-12-18 02:47] bhush9 commented on #201
yep, rebuild seems to have solved this..

[2015-12-18 02:52] bhush9 commented on #229
mtp-server seems to be crashing on mobile

[code]

and then goes defunct

[2015-12-18 02:58] bhush9 commented on #213
from konsole seems to start but being X application it doesn't get input it seems.. (CC: issue #217 )

[2015-12-18 05:14] star-buck commented on #213
The input is not the problem here, lets make it start correctly as a
launcher first.

[2015-12-18 05:15] star-buck commented on #229
Is this still the mtp-server that vishesh got to work previously?

[2015-12-18 05:25] bhush9 commented on #229
yes, it is same mtp-server, forked on kde git.

[2015-12-18 05:47] star-buck commented on #229
So is mtp-server failing related to UnityGreeter and can we fix it?

[2015-12-18 06:11] bhush9 commented on #229
On Fri, Dec 18, 2015 at 11:17 AM, star-buck <notifications@github.com>
wrote:

Yes, I will look into fixing this. though since our mtp-server doesn't look
for UnityGreeter it sounds packaging problem or something.

--
Bhushan Shah

http://bhush9.github.io
IRC Nick : bshah on Freenode

[2015-12-18 07:35] bhush9 commented on #227
Now builds seem to be fetching stuff from neon git..

http://mobile.kci.pangea.pub:8080/job/vivid_unstable_qt_qtx11extras_src/2/console

[2015-12-18 07:35] #227 closed

[2015-12-18 07:45] bhush9 commented on #229
http://commits.kde.org/mtp-server/c5e60c21d155b4960801bd7595a045103ae62892

There fixed, will be available in IMG14 scheduled today evening.

[2015-12-18 16:04] star-buck commented on #227
@bhushan:
Can we use

http://mobile.neon.pangea.pub:8080/job/vivid_unstable_qt_qtx11extras_src/2/console

as url in the future, as kci will be deprecated.

[2015-12-18 18:45] star-buck commented on #201
still doesnt start... how do you test that it starts for you?
with nexus 5, it didnt start in img12, 13, 14...

[2015-12-18 18:49] star-buck commented on #229
works again

[2015-12-18 18:49] #229 closed

[2015-12-18 18:51] star-buck opened #231 "[peruse]: missing launcher icon"

[2015-12-18 18:58] star-buck opened #232 "[peruse]: doesnt start"

[2015-12-18 19:00] star-buck opened #233 "[plasma]: starting app sometimes crashes plasma, so app appears fullscreen with no taskbar and topbar"
some apps seem fine, others dont start at all, while others seem to crash plasma.
koko starting fine but crashing plasma seems at least consitently reproducible for img14 though?

[2015-12-18 19:04] star-buck commented on #232
konsole throws error message:
Mobilemain.qml:97 Type Bookshelf unavailable

[2015-12-18 19:09] bhush9 commented on #233
doesn't start itself fullscreen but plasmashell seems to be crashing.. so panels get away.

[2015-12-18 19:10] star-buck commented on #233
okay, thats slightly better ;)

[2015-12-18 19:13] bhush9 commented on #201
oops.. indeed it is broken. so well after rebuild I upgraded it in previous image and that seemed to work.. but now in image it is broken.. something seems to be wrong with packaging.. I will investigate..

[2015-12-18 19:17] bhush9 commented on #233
also this is not related to koko.. any app launching crashes plasma sometimes.

[2015-12-18 19:19] aleixpol commented on #233
I've experienced that testing Discover as well.

[2015-12-18 19:19] star-buck opened #234 "[Settings]: doesnt start"

[2015-12-18 19:20] bhush9 commented on #201
Right, @star-buck if you upgrade, marble-maps will be working.. there are some stray packages in repos that gets picked while creating IMG so it doesn't work in raw image. but after upgrade marble starts again. I will remove stray packages tomorrow.

[2015-12-18 19:23] leinir commented on #232
There should be more errors than that, unless Bookshelf isn't packaged (which would be strange, as it's just a qml file installed alongside MobileMain.qml). I'm using multirom, so i can't check this error right now, but i shall test it when Bhushan pushes the next release. If you can get me the full output, though, i should be able to diagnose it more easily :)

[2015-12-18 19:27] bhush9 commented on #232
I've really messed up multirom setups by enabling lockscreen by default.. I will be able to redo next image tomorrow morning. :-(

[2015-12-18 19:38] star-buck commented on #232
@bhush9 : if certain parts of the prototype influence specifically multirom, dont care for them. We all have a Nexus 5 fully to be used with PM only if necessary at this point.

@leinir :
PM img not working on multirom is NOT an excuse to not test latest img.

[2015-12-18 19:40] star-buck commented on #233
some apps seem fine, others dont start at all, while others seem to crash plasma.
koko starting fine but crashing plasma seems at least consitently reproducible for img14 though?

[2015-12-18 19:42] bhush9 commented on #232
@star-buck Yes, but well.. I personally use multirom based setup because it is more convenient to have two different images installed, one stable and one devel-proposed for testing purpose. Also lockscreen starting without setting password is bug that we will have to fix on lockscreen stack.

[2015-12-18 19:45] star-buck commented on #232
@bhush9 : yes, but we dont have to do that now. 1234 for non multirom is fine. also "stable" rom is as good or bad as non-stable at this point, unless devel-proposed is getting so much worse with each progression that its almost unusable... again, not testing devel-proposed because of multirom is NO excuse with everyone within blue systems having a nexus 5 exactly for testing devel-proposed.

[2015-12-18 19:47] star-buck commented on #232
@leinir : please test peruse on img14 yourself and see whats wrong.

[2015-12-18 19:59] star-buck commented on #201
how do i update? it says i got the latest version installed...

[2015-12-19 01:41] bhush9 commented on #201
Not marble but if you update all packages, I.e sudo apt-get update && sudo apt-get upgrade

[2015-12-19 07:26] bhush9 commented on #234
plasma-mobile:962e592afdf2a3f716a36aa370c7fbcaa6 removed Package, dunno where that is placed now? this is causing system settings to not start.

[2015-12-19 08:43] leinir commented on #232
Right, turns out it was caused by a change in the mobile components. Fixed in 877024ee2335c5828bbf83b5a2224f0a1384368f, should be sorted next time the peruse package is updated - @bhush9 over to you :)

@star-buck Minor comment on the error output, the relevant log entry was the last error, which said that Categoryshelf.qml:33 Cannot assign to non-existent property "flickable" (just to make things

[2015-12-19 11:25] bhush9 commented on #232
packaged. will be in next image..

[2015-12-19 18:35] star-buck commented on #232
it seems to start after upgrading all packages.
So what file format does it pick up and where do I have to put the files for Peruse to find them?

[2015-12-19 18:35] #231 closed

[2015-12-19 18:38] star-buck commented on #232
opening new ticket

[2015-12-19 18:38] #232 closed

[2015-12-19 18:40] star-buck opened #235 "[peruse]: empty comic list"
What file formats does it pick up and where does one have to put the files for Peruse to find them?

[2015-12-19 18:41] star-buck commented on #201
Yeah! it starts.

[2015-12-19 18:41] #201 closed

[2015-12-19 18:43] star-buck commented on #163
seems with lockscreen, kwallet no longer pops up as of img14...

[2015-12-19 18:43] #163 closed

[2015-12-19 18:48] star-buck opened #236 "[marble-maps]: two-finger zoom gesture does not work"
interestingly, installing "normal" marble on the phone not only starts, but (even if weirdly placed at the side) zoom-gesture there works.

[2015-12-19 18:51] star-buck commented on #223
reproducible:
starting a program, then invoking taskmanager and clicking on the task of that app again brings it to the front "active" state and then has Close-Button active.

[2015-12-19 18:53] star-buck opened #237 "[document viewer]: doesnt start"
img14

[2015-12-20 03:51] bhush9 commented on #237
Seems to be missing git add.. https://quickgit.kde.org/?p=okular.git&a=commit&h=2b4486a00de34cf0102997db8bb88462d4959de6 OkularDrawer.qml file is missing.

[2015-12-21 17:20] aleixpol commented on #160
For starters `packagekit-plugin-click` package is needed:
[code]

This unveils another problem I'm not sure how to fix. Anybody knows what a `Framework "ubuntu-sdk-13.10"` is?

[2015-12-21 19:51] star-buck commented on #160
Did we have this before while it was working?

[2015-12-21 19:58] aleixpol commented on #160
I don't think I ever saw this error message.

[2015-12-21 20:12] star-buck commented on #160
So the question is: Did we ship it previously?

[2015-12-22 13:07] notmart commented on #237
eew, my bad then :/
will fix as soon as i get home next couple of days

[2015-12-23 14:54] notmart commented on #237
repackaging

[2015-12-27 20:35] star-buck commented on #191
I also updated the flashing instructions here to read neon instead of kubuntu:
http://neon.plasma-phone.org/

Lets make sure it stays consistent with the next phone IMG update (keeping a screenshot saved for reference below):
![neon-mobile](https://cloud.githubusercontent.com/assets/840070/12011890/60a2bd4c-ac96-11e5-8c62-fa70fee12854.png)

[2015-12-27 20:38] star-buck commented on #191
maybe replace string "ubuntu" in
"Latest available Image: ubuntu=2015...."
also with "neon"?

[2015-12-28 04:34] bhush9 commented on #191
We can change it in website, but internally it will still be called ubuntu=.. as this variable is used by ubuntu-device-flash internally.

[2015-12-28 05:23] star-buck commented on #191
Okay, thats fine internally, so if it doesnt interfere with that, lets
change it visibly on website only.

[2015-12-29 09:04] leinir commented on #235
First last: One has to put the comics into either Documents or Downloads (more can be added if we want, but those seemed the most sensible - perhaps Pictures as well?).

The searched formats are currently just cbz OR cbr OR cb7 OR cbt OR cba OR chm OR djvu OR epub OR pdf if baloo is enabled (that's the baloo search string), or pdf or cbz if not (discovered by filesystem search and mimetype check).

[2015-12-30 19:08] star-buck commented on #235
i tried pdf and cbz in those folders, and nada. Can you make a photo from another device to show how this looks on a Nexus 5?

[2015-12-31 09:21] leinir commented on #235
i certainly can - however, it turns out i had not, in fact, scheduled the build i thought i had (and then got away from it, hunting a crash). The build has now completed and i've just checked that i can, in fact, read both cbz and pdf comics on the device - https://twitter.com/leinir/status/682491483144994816 :) (the listing does show some odd layout issues, i'll sort those out)

[2015-12-31 17:41] star-buck commented on #235
So updating "peruse" should now install a working version?
On Dec 31, 2015 1:21 AM, "Dan Leinir Turthra Jensen" <
notifications@github.com> wrote:

[2015-12-31 21:32] star-buck commented on #235
i just updated to 0.0+git20151231.1145+15.04-0 still doesnt show any comics.

[2016-01-01 05:55] bhush9 commented on #237
Seems to work now.

[2016-01-01 13:23] bhush9 commented on #234
https://phabricator.kde.org/D729

[2016-01-03 15:57] bhush9 commented on #234
Fixed now.

[2016-01-05 09:13] leinir commented on #235
It is odd that it should fail to show comics, i most certainly have it working here... If you could try and upgrade to the version i've just pushed (0.0+git20160105.0848+15.04) and run it from konsole, and then tell me if it says it's using Baloo or not, as that'll help me hunt down the issue a bit.

[2016-01-05 09:28] leinir commented on #235
So, with a bit of help from Bhushan, we have discovered baloo is in something of an odd state on the phone by default. While this itself will need fixing, i also need to handle that situation and fall back accordingly. I'll get on that :)

[2016-01-05 09:34] leinir commented on #235
Oh, the odd state: Baloo has indexing is enabled, which causes peruse to attempt to use Baloo. Baloo reports that it can't open the database if you run "balooctl status" on the command line, though, and consequently the same happens for the api, which causes it to fail to return any entries to peruse, which then ends up with no comics to show.

tl;dr compliant version: i need to handle baloo faili

[2016-01-05 09:37] bhush9 commented on #225
Alright, I got ubuntu-ui-toolkit built. making checklist of apps

- [x] animal-farm
- [x] calculator-app
- [x] sudoku-app
- [ ] samegame
- [ ] music app
- [ ] ubuntu-docviewer-app
- [x] ubuntu-terminal-app
- [ ] ubuntu-weather-app

more to follow, I will create new image with all working apps today.

[2016-01-05 10:50] bhush9 commented on #160
![image](https://cloud.githubusercontent.com/assets/1061944/12113331/04e97700-b3c8-11e5-8ea4-753266df5a08.png)

I got them working in theory, but requires some proper changes to get them working on mobile IMG.

[2016-01-05 15:47] leinir commented on #235
Right! Bhushah tells me the version currently available (that is, 0.0+git20160105.1522+15.04-0) works - still works for me as well, and given he had the same issue you did, i expect it should also work for you now :)

[2016-01-05 16:57] star-buck commented on #160
What changes exactly are needed?

[2016-01-05 17:10] star-buck commented on #225
@bhush9:
Your list is missing the most important ones like filemanager and browser from the top post. So while testing, its good to see some of the other working again and shipped to compare with our plasma ones, please add filemanager and browser to the list.

[2016-01-05 19:02] star-buck opened #238 "[homescreen]: make swiping distance and resistance to bring up main screen and launcher section less"
at one point it was much better and easier to swipe the main screen up to bring up the launchers

[2016-01-05 19:04] star-buck commented on #235
finally confirmed working! :+1:

[2016-01-05 19:04] #235 closed

[2016-01-05 19:07] leinir commented on #235
Awesomesauce! :D Very glad to hear it :) Interestingly, of course, the bug we're run into here is somewhat unique to plasma phone (basically, baloo is turned on, but the database is broken from start, which can be fixed by running balooctl disable && balooctl enable), so we now have a comic viewer which is more fault tolerant than it would have otherwise been.. so... not bad, really ;)

[2016-01-06 02:24] bhush9 commented on #225
amended list, sorry missed to add them to list.

[2016-01-06 02:39] bhush9 commented on #160
Mainly _something_ that makes them show up in our launcher, and instead of using pkcon using click command to install them.

That _something_ is using http://click.readthedocs.org/en/latest/hooks.html

[2016-01-07 00:11] aleixpol commented on #160
Last time I checked, they were appearing in the menu. Do you know what changed, @bhush9?

[2016-01-07 02:45] bhush9 commented on #160
click apps that are shipped as deb do appear in menu fine but .click apps doesn't.

[2016-01-07 12:09] star-buck commented on #160
Deb files are just that: .deb (not click?).
They all maybe ubuntu touch apps, but click is the package format?

[2016-01-07 12:38] bhush9 commented on #160
not sure I understood question?

[2016-01-07 12:40] bhush9 commented on #160
Ubuntu apps are either deb packages or .click packages.. deb packages gets shown into launcher as they ship desktop files in /usr/share/applications however .click applications are installed into /opt/click.ubuntu.com/ and don't install .desktop files where our launcher searches them. so they don't appear in our launcher

[2016-01-07 15:42] star-buck commented on #160
Now you got it right :)

[2016-01-08 13:02] bhush9 commented on #225
I am marking this as Ready for QA. mostly all apps included in next image 17 other then webbrowser-app, webbrowser-app still needs lots of recompiling that doesn't work as expected and terminal-app (terminal-app installs one package that conflicts with filemanager-app, but given we already have konsole I did keep filemanager-app)

[2016-01-08 13:05] bhush9 commented on #159
Not specific click app provided above, but I got ubuntu-filemanager-app from repos installed.

[2016-01-08 13:06] bhush9 commented on #159
(content of click package above and ubuntu-filemanager-app is same.)

[2016-01-08 13:10] bhush9 commented on #76
img17 have ubuntu's music-app installed.

[2016-01-08 13:12] bhush9 commented on #18
we are shipping marble in our mobile IMG from quite sometime, this can be closed perhaps?

[2016-01-08 13:26] bhush9 commented on #236
works for me, but it is too slow and gives feedback after too long time..

[2016-01-08 14:23] star-buck opened #239 "[animal farm]: no sound"
seems the animals make no sound.

[2016-01-08 14:24] star-buck commented on #236
works now here too

[2016-01-08 14:24] #236 closed

[2016-01-08 14:24] star-buck commented on #18
yep

[2016-01-08 14:24] #18 closed

[2016-01-08 14:25] star-buck commented on #223
works with img17

[2016-01-08 14:25] #223 closed

[2016-01-08 14:27] star-buck commented on #140
okular works, so closing this for now here

[2016-01-08 14:27] #140 closed

[2016-01-08 14:28] star-buck commented on #159
shipped, icon and works.

[2016-01-08 14:28] #159 closed

[2016-01-08 14:44] bhush9 commented on #239
umm, works for me?

[2016-01-08 14:46] star-buck commented on #225
split list of apps into working, installed, but not yet working and not working.

[2016-01-08 14:48] star-buck commented on #234
starts fine on neon17

[2016-01-08 14:48] #234 closed

[2016-01-08 14:51] star-buck commented on #239
odd... no sound here :musical_score:

[2016-01-08 14:53] star-buck opened #240 "[top panel]: missing battery icon"

[2016-01-08 14:55] aleixpol commented on #239
Sound doesn't work here either.

[2016-01-08 14:55] bhush9 commented on #239
notmart | bshah: bah, finally managed to reproduce the black battery thing on the aptop, hopefully i know what is it
     bshah | getting it reproduced on laptop means almost fixed
  notmart_ | in that magic of going around looking for parents i only consider qquickitems, but i'm doing it from a qobject
  notmart_ | so yeah, it loses a piece

[2016-01-08 14:55] bhush9 commented on #239
err ignore

[2016-01-08 14:55] bhush9 commented on #240
notmart | bshah: bah, finally managed to reproduce the black battery thing on the aptop, hopefully i know what is it
     bshah | getting it reproduced on laptop means almost fixed
  notmart_ | in that magic of going around looking for parents i only consider qquickitems, but i'm doing it from a qobject
  notmart_ | so yeah, it loses a piece

[2016-01-08 14:55] notmart commented on #240
it's there but due to a problem it's a black battery on black background, i'm on it now

[2016-01-08 14:57] bhush9 commented on #239
its really odd, it works for me.. but maybe I did upgrade and installed packages afterwards.. will reflash and check whats wrong.

[2016-01-08 15:08] star-buck commented on #240
:black_large_square:  :)

[2016-01-08 15:13] bhush9 commented on #225
hmm, right I missed music-app

https://quickgit.kde.org/?p=mobster.git&a=commitdiff&h=a1c5f8cbb0960246db72c453bd2a7fdc27993870&hp=f1318910436f9c2f489386cd6af2c06bf2081886

This is packages I installed.

[2016-01-08 15:13] star-buck commented on #230
neon17 seems to work

[2016-01-08 15:13] #230 closed

[2016-01-08 15:34] star-buck opened #241 "[discover]: doesnt start"
neon17

[2016-01-08 15:35] star-buck commented on #237
neon17: still doesnt start

[2016-01-08 15:36] bhush9 commented on #225
Nowhere, this build recipes and packaging is picked directly from launchpad, last month I added this functionality in our CI, so it can directly fetch source code from launchpad/bzr and build on our CI.

http://mobile.kci.pangea.pub:8080/view/launchpad/

currently following projects are getting built.

http://anonscm.debian.org/cgit/pkg-kde/ci-tooling.git/tree/data/mci.json#n81

Here ubuntu-ui-too

[2016-01-08 15:39] bhush9 commented on #237
problem above was fixed, this is new problem that pop up :p

[2016-01-08 15:39] star-buck opened #242 "[wifi]: after reboot wants password to retype in popup"
after first successfull connection and reboot, does not (auto-)connect again

[2016-01-08 15:42] star-buck commented on #225
okay, thanks for explanation!

[2016-01-08 15:46] star-buck commented on #242
i see the reason now:
popup opening in the background (behind dropped down toppanel) is asking for the password again.

[2016-01-08 15:48] bhush9 commented on #237
erm, which document viewer did you start? there are two now?

[2016-01-08 15:50] star-buck commented on #237
ours, not ubuntu

[2016-01-08 16:01] llelectronics commented on #237
Turns out folderlistmodel qml plugin is missing. Installing it and the okular document viewer works.

[2016-01-08 16:17] aleixpol opened #243 "libappstreamqt0 should be compiled against Qt5"
As of recently, Discover QApt backend depends on Appstream. The appstreamqt provided by Ubuntu Vivid depends on Qt 4 and Discover uses Qt5.

It would be really convenient if we could get the Qt5 version as otherwise we can't link against it.

To that end, we'd need a newer version, since the available one is 0.7.4 which is too old for us.

[2016-01-08 17:18] bhush9 commented on #237
will fix packaging.

[2016-01-08 17:30] bhush9 commented on #240
recent plasma-framework fixed this.

[2016-01-08 18:50] mck182 commented on #242
This is caused by kwallet timing out; bug introduced in kwallet commit 1d0bec904dd78ff21d1d68e9c3e363ad1a77f7ed.

I'm investigating.

[2016-01-08 21:42] mck182 commented on #242
Fixed in kwallet; http://commits.kde.org/kwallet-framework/901c27ca7cb05cca1a960747b280d40cd7707158

[2016-01-09 00:43] star-buck opened #244 "[top panel]: show battery remaining percentage number (without '%') right next to battery symbol"
It is very convenient, especially while testing things to see exactly how much battery is left and how fast it runs down, like estimating how long the remaining battery will still last during am activity like browsing, making a call, playing a game, etc.

[2016-01-09 05:20] bhush9 commented on #242
Package available now : 5.18.0+git20160109.0454+15.04-0

[2016-01-09 08:38] bhush9 commented on #239
hmm, missing dep : gstreamer1.0-plugins-ugly

install it and animals will make noise..

[2016-01-09 08:47] star-buck commented on #239
good to know.
will mark it solved and close after shipping in next img also works.

[2016-01-09 09:31] bhush9 commented on #237
adjusted packaging in : https://github.com/plasma-phone-packaging/okular/commit/6a171e760667d22a854335a19c1e76e80e988adb will be fixed in next image.

[2016-01-10 09:32] star-buck commented on #217
@bhush9 : please see that this gets packaged now in our own repo and shipped with next img.

[2016-01-10 09:39] star-buck commented on #144
is it shipped? then please mark 'Ready'.

[2016-01-10 09:46] bhush9 commented on #205
qtwebengine is not packaged yet.

[2016-01-10 14:27] bhush9 commented on #144
I think this issue is fixed, and I haven't seen this recently.. so shipping that config doesn't seem to be required.

[2016-01-10 15:10] #144 closed

[2016-01-12 05:30] bhush9 commented on #217
xwayland | 2:1.18.0-2kubuntu1 | vivid | amd64, armhf

[2016-01-12 06:01] bhush9 commented on #212
xwayland 1.18 packaged and now works (will be fixed in next image)

[2016-01-12 06:02] bhush9 commented on #224
xwayland 1.18 now available and firefox now works.

[2016-01-12 08:48] bhush9 commented on #225
As talked with Sho_ on IRC icons not showing up on launcher is mostly problem on ubuntu-apps side, they have non-standard way of declaring icons in .desktop file. Also, whatever Icon weather/document viewer app defines is not in package.. which is also wrong

[code]

[2016-01-12 09:47] bhush9 commented on #225
Next image will contain _music-app_

I will next look into building liboxideqt/webbrowser-app. About samegame, package in ppa seems to be outdated and wouldn't install.

[2016-01-12 10:53] bhush9 commented on #239
img18

[2016-01-12 10:54] bhush9 commented on #217
IMG18 have it

[2016-01-12 12:16] star-buck commented on #242
it seems still not reconnecting without popup in img18...

[2016-01-12 12:19] star-buck commented on #242
okay, weird... it didnt for the first time when entering the password over the tiny field in the toppanel, but did so when entering the password a second time in the popup.

[2016-01-12 12:44] star-buck opened #245 "[Settings]: Accounts: module kaccounts failed to load"

[2016-01-12 12:48] #239 closed

[2016-01-12 12:48] #240 closed

[2016-01-12 12:48] #224 closed

[2016-01-12 12:48] #212 closed

[2016-01-12 12:49] #217 closed

[2016-01-12 12:49] star-buck commented on #209
img18 has kaccounts package reported missing under Settings -> Accounts

[2016-01-12 12:51] star-buck opened #246 "[wallpaper dialog]: pressing on empty area in homescreen brings up empty overlay"
img18

[2016-01-12 12:54] bhush9 commented on #209
kaccounts-mobile itself is properly packaged, however plasma-settings is missing dep to qml-module-ubuntu-onlineaccounts (installing will fix that, I will change packaging for that)

[2016-01-12 12:55] bhush9 commented on #245
As reported in #209 installing qml-module-ubuntu-onlineaccounts will fix that, I will adjust packaging for plasma-settings and mark this as Ready for QA.

[2016-01-12 13:00] notmart commented on #246
this seems related to another problem: that overlay is supposed to be there, with a toolbar at the bottom of the screen with "configure wallpaper" and "add widgets" buttons: however the panel geometries seems to be reported incorrectly and that toolbar ends up being hidden by the bottom panel, leaving that weird dark area

[2016-01-12 13:08] bhush9 commented on #245
fixed in : https://github.com/plasma-phone-packaging/plasma-settings-packaging/commit/cefa78511d6d9a448ad800fa14ba10fa263191f1 waiting for rebuild.

[2016-01-12 13:41] bhush9 commented on #245
plasma-settings (0.0.1ubuntu5+git20160112.1306+15.04-0) vivid;

[2016-01-12 15:35] star-buck commented on #209
Closing then here.

[2016-01-12 15:35] #209 closed

[2016-01-12 16:33] notmart commented on #246
latest plan is 9th february
https://wiki.qt.io/Qt-5.6-release

[2016-01-13 08:48] bhush9 commented on #243
appstreamqt itself is recompiled now against qt5.5 however due to discover->plasma-discover rename it won't build.

[2016-01-14 19:07] mck182 commented on #153
This appears to be solved in latest image/package update.

[2016-01-14 19:07] #153 closed

[2016-01-14 19:15] mck182 opened #247 "[package request] Build telepathy-accounts-signon"
This is needed to get KAccounts accounts into Telepathy.

There is a buntu package but in any case here's the latest release

https://gitlab.com/accounts-sso/telepathy-accounts-signon/repository/archive.tar.gz?ref=1.0

[2016-01-14 19:16] mck182 opened #248 "[package request] Make build-dep for kaccounts* work"
sudo apt-get build-dep kaccounts-mobile would be very handy to get quickly all the stuff that is needed to work on that. Same for kaccounts-integration.

[2016-01-15 03:29] bhush9 commented on #248
Hmm? whats preventing that? I don't understand.

[2016-01-15 03:35] mck182 commented on #248
No clue.

$ sudo apt-get build-dep kaccounts-mobile

E: Unable to find a source package for kaccounts-mobile

(same with kaccounts-integration)

[2016-01-15 03:42] bhush9 commented on #248
Ah, right, deb-src for mobile CI is not enabled in mobile IMG. I will make sure this gets corrected in next image.

[2016-01-15 03:44] bhush9 commented on #248
Mean while please add,

[code]

to your sources.lst

[2016-01-15 03:46] bhush9 commented on #248
fixed in : http://commits.kde.org/mobster/855e0713b5fc281cb4be4add86f1ff5b217e130a

[2016-01-15 03:48] mck182 commented on #248
Awesome, thanks!

[2016-01-15 04:13] bhush9 commented on #248
(also, I should replace mobile.kci with mobile.neon but that will require updating in all other places I believe)

[2016-01-15 04:24] mck182 commented on #248
It's there already, just commented out btw.

[2016-01-15 06:57] star-buck commented on #246
@notmart :
so qt5.6 will fix this? what part of qt is at fault here?

[2016-01-15 06:57] star-buck commented on #243
any idea to fix this?

[2016-01-15 09:10] bhush9 commented on #243
I've recompiled appstreamqt against our qt5. However currently kubuntu packagers are working on discover -> plasma-discover so it will need little time before I can build discover against new appstreamqt.

[2016-01-15 09:47] notmart commented on #246
ah, sorry. I had answered actually to the wrong issue, the answer was for the scrollwheel one.

the wrong struts was actually our problem and is fixed, updating the packages (or waiting next image) will. fix it

[2016-01-19 10:36] bhush9 commented on #243
Now plasma-discover starts.

[2016-01-19 10:36] bhush9 commented on #241
Now starts but layout is messed up..

[2016-01-19 17:42] bhush9 commented on #36
So, I researched bit about how to get more space initially, I realized its system-image-upgrader in the  recovery.img which defines the initial rootfs space.. I've created a recovery.img which would create rootfs of 4GB instead of 2GB default.

To use that,

[code]

Here I added *--recovery-image recovery.img* in older command. If you get error like,

[code]

You will need newer version of ubuntu-

[2016-01-20 09:01] bhush9 commented on #141
Closing this now. I've removed that line long ago.

[2016-01-20 09:01] #141 closed

[2016-01-20 09:05] bhush9 commented on #120
now xwayland 1.18 is shipped, marking as Read for QA.

[2016-01-20 09:06] bhush9 commented on #247
telepathy-accounts-signon | 1.0+git20160120.0853+15.04-0 | vivid | amd64, armhf, source

fresh from git.

[2016-01-20 09:31] bhush9 commented on #117
@mck182  since the #153 is now solved, I think this works now? should I mark it as ready for QA?

[2016-01-20 11:39] bhush9 commented on #36
Actually ignore that... that recovery image is somehow broken and doesn;t work... :-(

[2016-01-20 14:36] bhush9 commented on #248
The way I added it didn't work out.. will need to find another way...

[2016-01-20 17:46] star-buck commented on #120
works.

[2016-01-20 17:46] #120 closed

[2016-01-24 19:01] star-buck commented on #244
Also make it show (or optional show/hide) on the desktop, e.g. like Mint:
![battery-notifications](https://cloud.githubusercontent.com/assets/840070/12538247/3beab0ae-c2d5-11e5-8e80-dfafc0fe53ac.jpg)

[2016-01-26 16:17] mck182 commented on #117
Yes, with all packages upgraded I managed to import my Google contacts just fine.

[2016-01-26 16:31] mck182 commented on #247
Works.

[2016-01-26 16:33] mck182 commented on #247
Btw. the process mission-control-5 must be restarted after installing this package, otherwise the user will be required to reboot his phone.

So perhaps that should be added to the post-inst of the package or something.

[2016-02-13 16:41] star-buck commented on #246
fixed with IMG20/xenial

[2016-02-13 16:41] #246 closed

[2016-02-13 16:42] star-buck commented on #241
right, so closing this and waiting for Aleix to get the mobile view done

[2016-02-13 16:42] #241 closed

[2016-02-13 16:44] star-buck commented on #225
new Xenial IMG does not ship any, so unmarking all

[2016-02-13 16:47] star-buck opened #249 "[close button]: apps are still open and running in background...now its just like home button"
IMG20/xenial

[2016-02-13 16:47] star-buck commented on #238
seems fixed with IMG20/xenial

[2016-02-13 16:47] #238 closed

[2016-02-13 16:50] star-buck commented on #117
@mck182 :
is this working with latest IMG20/xenial?

[2016-02-14 04:10] bhush9 commented on #249
Umm, can't reproduce.. any specific app?

[2016-02-14 06:47] star-buck commented on #249
You open an app, press X button and then press taskmanager button and see
it still running?

[2016-02-14 07:08] bhush9 commented on #249
Nope, can't reproduce. Tried with konsole, document viewer, peruse, settings etc.

[2016-02-14 08:22] star-buck commented on #249
Now thats odd :)
I completely wiped and reflashed with img20 and thats what it does with all
of the above apps :)
Anyone else can try and report back?

[2016-02-15 08:01] bhush9 commented on #225
Two things:

- https://launchpad.net/~ubuntu-touch-coreapps-drivers doesn't publish for xenial (yet)
- Some stuffs for example webbrowser-app depends on ubuntu libhybris's compat layer, which makes it 1000% impossible to use.

[2016-02-15 11:10] notmart commented on #249
I've seen it happening sometimes (pretty random) will investigate

[2016-02-15 14:03] notmart commented on #249
should be fixed in master

[2016-02-19 21:13] mck182 commented on #117
No; there was a major architectural change which is partly upstream.

1 out of 3 changes upstream is merged, the other two should be done quickly on Monday or whenever upstream reviews it. After that's done, I'll push min version requirement update to KAccounts, the image will then require master or latest versions of libaccounts-glib and libaccounts-qt as well as kaccounts-integration. Then it wi

[2016-02-23 15:42] star-buck commented on #249
works

[2016-02-23 15:42] #249 closed

[2016-02-23 15:44] star-buck commented on #225
tested animal-farm from xenial ppa (see above): installs, comes up, no sound.
Will test more now.

[2016-02-23 15:57] star-buck commented on #160
We can also get official click apps from ubuntu from here:
https://core-apps-jenkins.ubuntu.com/job/filemanager-app-ci/

[2016-02-24 03:43] bhush9 opened #250 "kaccounts + spacebar todo"
Creating ticket for tracking

---
# Accounts
- [x] libaccounts-glib >= 1.21 (mostly master) https://gitlab.com/accounts-sso/libaccounts-glib/tags/VERSION_1.21
- [x] kaccounts-integration from master
- [x] kaccounts-providers from master
- [x]  kaccounts-mobile from master
# Spacebar
- [x] kpeople from master
- [x] ktp-common-internals from mklapetek/SpaceBar
- [x] spacebar from master
- [x] plasma

[2016-02-24 10:59] bhush9 commented on #160
rather more proper place : http://people.canonical.com/~ubuntu-archive/click_packages/

[2016-02-24 12:21] star-buck commented on #160
nice!
@bhush9 : please try installing one of those click apps on latest xenial img:
e.g. http://people.canonical.com/~ubuntu-archive/click_packages/com.ubuntu.sudoku_1.1.382_all.click

[2016-02-24 12:27] bhush9 commented on #160
Installing click apps is not a problem, there are multiple click packages installed already.. see `click list`. Problem is we have no real way to show them in launcher and launch them.

[2016-02-24 14:02] star-buck commented on #160
@notmart : any way to make installed .click apps icons appear in our launcher list?

[2016-02-25 13:14] bhush9 commented on #250
I've packed all things.. contact importing works but spacebar shows all 3 options about chat disabled.

[2016-02-25 14:01] mck182 commented on #250
I forgot one package - telepathy-accounts-signon - https://gitlab.com/accounts-sso/telepathy-accounts-signon

[2016-02-25 14:25] bhush9 commented on #250
telepathy-accounts-signon already packaged as mentioned in issue #247

[2016-02-25 14:27] bhush9 commented on #250
actually nvm.. build was added but didn't build :P

[2016-02-25 14:28] bhush9 commented on #250
Erm... no.. package is there.. false alarm

[2016-02-25 22:14] mck182 commented on #250
So more packages need to be installed, namely these:
kde-config-telepathy-accounts
kde-telepathy-auth-handler
kde-telepathy-kaccounts
kde-telepathy-kpeople
libktpcommoninternals9
libktplogger9
libktpmodels9
qml-module-org-kde-telepathy

There are however some serious issues on the phone wrt Telepathy, preventing SpaceBar to work properly. Most importantly, telepathy-ofono breaks the presence contr

[2016-02-26 03:45] bhush9 commented on #250
Last night I already added `qml-module-org-kde-telepathy` to the deplist of spacebar. and I believe others are being pulled by them, still will verify.

I think in xenial mobile IMG we don't ship any patches.. I believe they were required in vivid because they were already up-streamed but ubuntu packages were very old?

[2016-02-26 03:59] mck182 commented on #250
They were certainly not applied upstream yet [1], there seems to be nobody active these days. As for xenial package, I have no clue.

[1] - https://bugs.freedesktop.org/show_bug.cgi?id=91272

[2016-02-26 12:41] star-buck opened #251 "[kmahjongg]: starting via launcher doesnt work, but from konsole it does come up and work fine"
Try via:
sudo apt-get install kmahjongg

[2016-02-26 12:43] bhush9 commented on #251
dup of #213 ?

[2016-02-26 12:43] star-buck commented on #244
works

[2016-02-26 12:43] #244 closed

[2016-02-26 12:45] star-buck commented on #213
saw this ticket is double, kmahjongg now works properly when started from console, but still fails to satrt via its own launcher.

[2016-02-26 12:46] star-buck commented on #251
yep, closing

[2016-02-26 12:46] #251 closed

[2016-02-26 12:48] star-buck commented on #242
seems somewhat working, at least the popup comes up in background but wifi is established nevertheless.

[2016-02-26 12:48] #242 closed

[2016-02-26 12:50] star-buck commented on #237
fixed

[2016-02-26 12:50] #237 closed

[2016-02-26 12:52] star-buck opened #252 "[gnome-chess]: fails to start with error "the name a11y.Bus was not provided by any .service files""

[2016-02-26 13:34] bhush9 commented on #252
Quick google search leads to some crazy apparmor thingie.

[2016-02-26 14:57] star-buck commented on #252
try if you can fix it next week

[2016-02-26 16:18] bhush9 commented on #160
I've put together script in plasma-phone-dev-setup which looks for desktop files and puts them in ~/.local/share/applications with few edits.. This script takes argument of package name..

[code]

Now it will appear in launcher list..

[2016-03-01 05:20] bhush9 commented on #160
Some packages are not supposed to work at all, modified ticket above.

[2016-03-01 15:42] bhush9 commented on #21
considering IMG27 ships click packages and they somewhat works.. we should close this

[2016-03-01 15:48] bhush9 commented on #117
importing contacts works fine in IMG27

[2016-03-02 11:59] #160 closed

[2016-03-02 12:03] star-buck commented on #21
lets keep this open for info, its LTS, meaning Long Term Solution

[2016-03-02 12:04] #198 closed

[2016-03-02 12:04] #233 closed

[2016-03-02 12:05] #180 closed

[2016-03-02 12:07] star-buck commented on #173
@bhush9 : is this done or are there still things added to our IMGs via PPAs that we control?

[2016-03-02 12:08] bhush9 commented on #173
Unfortunately yes, still we need ppa, at least for ubuntu-touch-session and telepathy-mission-control-5

[2016-03-02 12:10] star-buck commented on #197
camera app shows colored standstill image, but doesnt seem to take pictures.

[2016-03-02 12:13] star-buck commented on #53
doesnt crash anymore

[2016-03-02 12:13] #53 closed

[2016-03-02 12:14] bhush9 commented on #250
https://bugs.launchpad.net/ubuntu/+source/telepathy-mission-control-5/+bug/1473011

says it is in for xenial.

[2016-03-02 12:21] bhush9 commented on #243
I am closing this, since this was required for vivid and in xenial it starts fine.

[2016-03-02 12:21] #243 closed

[2016-03-02 12:22] star-buck commented on #173
cant we built the packages and put them into our own repo?
http://mobile.neon.pangea.pub/

[2016-03-02 12:23] star-buck commented on #132
fixed.

[2016-03-02 12:23] #132 closed

[2016-03-02 12:28] star-buck commented on #138
@bhush9 : please try to build and ship this so we have a video player to test things on

[2016-03-02 12:28] star-buck commented on #191
closing this for now

[2016-03-02 12:28] #191 closed

[2016-03-02 12:29] bhush9 commented on #173
We need some patches on top of them, which means forking whole source package and later keeping them in sync when things change upstream. I would like to avoid them.. our CI have tech to build things as it is... but not with small patches.

[2016-03-02 12:29] star-buck commented on #170
seems to work fine now

[2016-03-02 12:29] #170 closed

[2016-03-02 12:31] bhush9 commented on #247
Closing this as discussed with @mck182 yesterday

[2016-03-02 12:31] #247 closed

[2016-03-02 12:32] star-buck commented on #195
@bhush9 :
would be great if you look how to get it re-named and a more neutral logo (like "plasma" dots) shown, so once we also offer other builds from e.g. suse or debian, we know how to do this.

[2016-03-02 13:50] #50 closed

[2016-03-02 14:29] star-buck commented on #21
closing.

[2016-03-02 14:29] #21 closed

[2016-03-02 17:54] mck182 commented on #250
All I see is "telepathy-mission-control-5 (1:5.16.3-1ubuntu4) wily;" in that link? So I guess the xenial package is built from the wily one?

[2016-03-03 04:26] bhush9 commented on #250
yep, http://archive.ubuntu.com/ubuntu/pool/universe/t/telepathy-mission-control-5/telepathy-mission-control-5_5.16.3-1ubuntu6.debian.tar.xz from http://packages.ubuntu.com/xenial/telepathy-mission-control-5 contains that patch

[2016-03-03 06:28] bhush9 commented on #250
I've added required apparmor permission stuff in telepathy-mission-control-5 package.

[2016-03-03 15:02] bhush9 commented on #250
@mck182 it is shipped in IMG28 however still spacebar have all option disabled.. please check and let me know what changes are needed.

[2016-03-03 15:10] mck182 commented on #250
If you're talking about the sidebar options, that's fine, they are not meant to be enabled yet.

[2016-03-03 15:11] bhush9 commented on #250
Ah..

[2016-03-03 15:11] bhush9 commented on #250
So can I assume spacebar is functional?

[2016-03-03 15:13] mck182 commented on #250
I guess. The question is if Telepathy is functional. I'll try flashing right now.

[2016-03-03 18:01] mck182 commented on #250
Ok, one thing I forgot to mention - the list of additional ktp packages _must_ not contain these:
kde-telepathy-text-ui
kde-telepathy-contact-list
kde-telepathy-approver

That said, SpaceBar still has troubles, but getting there.

[2016-03-04 03:39] bhush9 commented on #138
I've shipped it in IMG28 but doesn't start.

[2016-03-04 08:29] llelectronics commented on #138
Any error message in the terminal?

[2016-06-29 11:41] bhush9 commented on #36
Since we switched stack and now we no longer use dedicated system.img/ubuntu.img (ubuntu touch mechanism) file as rootfs this is no longer relevant. Closing this.

[2016-06-29 11:41] #36 closed

[2016-07-26 11:23] bhush9 commented on #82
I guess this can be closed?

[2016-07-26 12:01] bhush9 opened #253 "qtvirtualkeyboard issues"
Just keeping track of things

- [x] By default it is not enabled and one need to enable it from drawer
- [x] Freezes plasmashell at start up.. possibly due to SNI item
- [x] Focusing krunner search bar in plasmashell crashes it
- [x] Enters text only in caps.
- [ ] Find a way to adjust its size

Due to first 4 issues, I've disabled it in image for now.

[2016-07-26 12:18] star-buck commented on #82
@bhush9 : is it fixed? discarded? why?

[2016-07-26 12:19] star-buck commented on #82
i mean is it working in relation to plasma mobile, that is

[2016-07-26 12:19] bhush9 commented on #82
yeah, it is fixed, on mobile we are using libtaskmanager-ng based backend from quite long time.. and 5.7 release of plasma also uses new backend.

[2016-07-26 12:20] bhush9 commented on #82
Though I am not sure how fully functional wayland backend is for taskmanager, that is why my question.

[2016-07-26 12:28] star-buck commented on #252
@bhush9 : status?

[2016-07-26 12:42] star-buck commented on #82
is latest pm img using this, then it can be closed, even if buggy thats other tickets then

[2016-07-26 12:45] #205 closed

[2016-07-26 12:55] eikehein commented on #82
The Wayland backend does everything the PM TM needs and Marco ported it, feel free to close :)

[2016-07-26 12:55] bhush9 commented on #252
This seems to be upstream issue, that gnome-chess can't be run with wayland.. now it throws another error

(gnome-chess:3800): Gdk-CRITICAL **: /build/gtk+3.0-0Gk42k/gtk+3.0-3.18.9/./gdk/wayland/gdkdisplay-wayland.c:993: creating shared memory file failed: Operation not permitted

Which might be related with xdg-shell related changes in kwin..

[2016-07-26 12:58] bhush9 commented on #225
Recent image have stallboard, weather, calculator, filemanager and animal farm installed, but some of them crashes because of bug in upstream code (ubuntu-ui-toolkit) with Qt 5.7.

[2016-07-26 13:05] bhush9 commented on #177
I am not sure what is to be done here? or anything et all?

[2016-07-26 13:12] star-buck opened #254 "[animal farm]: exist whenever an animal is pressed and supposed to issue a sound"

[2016-07-26 13:38] bhush9 commented on #254
As mentioned in other ticket this issue is ubuntu-ui-toolkit being incompatible with Qt5.7 or having bug. I don't really have option but wait till ubuntu-ui-toolkit fixes this.. It seems to use private property of Qt5.6 which is not available in Qt5.7 from error it looks to me..

[2016-07-26 13:57] star-buck commented on #82
and closed

[2016-07-26 13:57] #82 closed

[2016-07-26 13:58] star-buck commented on #254
any other idea? it seems sound related, also stallboard laods and runs fine until pressing a tile...

[2016-07-26 13:59] star-buck commented on #252
it worked fine under (x)wayland on pm before?

[2016-07-26 13:59] bhush9 commented on #254
No, it is not related to sound, just incompatibility with Qt5.7. This broke when we upgraded to qt5.7

[2016-07-26 14:01] star-buck commented on #254
but then it still works fine _until_ some sound should come up, so its not completely broken

[2016-07-26 14:02] star-buck commented on #177
@aleixpol : this be closed?

[2016-07-26 14:03] bhush9 commented on #254
Yes, in fact I believe it is related to animation it plays while touching animal

[2016-07-26 14:05] bhush9 commented on #252
At some point yes.. Issue mentioned in ticket title seems to be some other unrelated issue, googling provides results of 2012... and as it says, its just warning.

[2016-07-27 10:40] bhush9 commented on #173
So... I've migrated away from the ubuntu-touch-session package, 20160727-062941 doesn't use PPA at all, previously 20160727-062941 attempted to do same, but failed because ubuntu-touch-session have extrausers pam config, which I've copied to plasma-phone-settings package now...

[2016-07-27 10:40] bhush9 commented on #173
I will proceed to delete PPA now, as it have all critical use-cases covered.

[2016-07-27 11:14] bhush9 commented on #252
I just realized that doing export GDK_BACKEND=x11 before starting gnome-chess makes it start.. I've two options,

a) Add that to /etc/environment
b) Maybe @mgraesslin have any idea about shared memory file error and might be possible bug in kwin's xdg_shell implementation.

[2016-07-27 11:17] bhush9 commented on #252
Personally, I'd advertise against option a) because it will prevent every GTK application to start in wayland mode.

[2016-07-27 11:28] bhush9 commented on #214
At some point it started showing graphics and sound... but then window is not fullscreen, and if I start it with fullscreen option, it freezes kwin..

/usr/games/frozen-bubble --fullscreen

[2016-07-27 11:29] bhush9 commented on #214
Also input works in tiny window it shows.

[2016-07-27 11:33] bhush9 commented on #197
I at one point started qtmultimedia plugin for the camera which used android HAL api's.. however I didn't make much progress, mainly because I don't fully understand android API etc. I've one possible solution which is compiling compat module of libhybris with CM image.. and use qtubuntu-camera from ubuntu.

Though we wouldn't want to compile in compat module as it would conflict with input in kwi

[2016-07-27 11:48] bhush9 commented on #248
now that we are using live-build to create images, this is fixed, next week's image should have this fixed..

[2016-07-27 12:00] bhush9 commented on #245
Accounts module now loads itself, but one can't add new accounts

[2016-07-27 12:02] bhush9 commented on #76
Ubuntu's music app will not work in recent images due to incompatibility with libhybris. So one will need to find something else as solution of music player app

[2016-07-27 12:22] bhush9 commented on #94
FWIW, we are now using 5.1 kernel.. (cm13) with newer stack, I don't fully understand what to change here? @sebasje can you expand bit on this?

[2016-07-27 12:28] bhush9 commented on #23
Typically android kernel have failsafe mechanism to auto-reboot if power button is hold down for some period of time, I wonder if libinput can provide us info about time period user is holding button? if so we can try to trigger a dialog for shutdown/reboot

[2016-07-27 12:32] bhush9 commented on #253
If someone wants to experiment with it, edit /etc/enviroment and remove QT_IM_MODULE=maliit line from it, and then reboot.. After that enable it from top panel.

[2016-07-27 12:57] star-buck commented on #214
so it works if we just dont start it fullscreen?

[2016-07-27 13:03] star-buck commented on #173
ill close this here then

[2016-07-27 13:03] #173 closed

[2016-07-27 13:04] sebasje commented on #94
root@ubuntu-phablet:/sys/devices/system/cpu/cpu2/cpufreq# echo ondemand > scaling_governor
root@ubuntu-phablet:/sys/devices/system/cpu/cpu2/cpufreq# cat scaling_governor
ondemand

The above, this sets the CPU frequency scaling to something more power-friendly, it increases the speed as needed, but scales the CPU down when possible as to save energy.

[2016-07-27 13:29] bhush9 commented on #214
Yes, though from launcher it doesn't start, you can launch it from konsole with /usr/games/frozen-bubble

[2016-07-27 13:38] bhush9 commented on #214
also, input is flaky... like hitting button twice makes it actually start thing.. probably related to tiny window..

[2016-07-27 14:14] bhush9 commented on #94
With cm based stack all of the cores are using interactive mode,

[code]

Which from [documentation](https://android.googlesource.com/kernel/msm/+/android-msm-hammerhead-3.4-lollipop-mr1.1/Documentation/cpu-freq/governors.txt) is similar to ondemand...

[code]

[2016-07-28 08:19] bhush9 commented on #254
Warnings in console,

[code]

And backtrace of crash,

[code]

[2016-07-28 08:22] bhush9 commented on #254
I am going to try rebuild ubuntu-ui-toolkit and see if this gets fixed.. lets see

[2016-07-28 08:44] bhush9 commented on #254
Sadly, build is still broken for armhf : http://mobile.neon.pangea.pub:8080/job/xenial_unstable_launchpad_ubuntu-ui-toolkit_bin_armhf/5/console

So I ca't upgrade ubuntu-ui-toolkit.. will think of another solutions if possible

[2016-07-28 10:38] aleixpol commented on #254
Maybe it would be possible to generate full Snap packages out of the click ones, containing the dependencies they might have? This way it would be possible to have Qt 5.4 (?) for the application while having a different Qt for the whole system.

[2016-07-28 10:40] bhush9 commented on #254
Not sure how big snap package would be compared to current deb package with few KBs.. overall I would avoid that due to space constraints..

[2016-07-28 10:50] star-buck commented on #254
Still could be interesting to test.

Snaps will likely play a part in canonicals phone plans anyway, also
current similar apks are also working, so i dont see constraint space so
much of a limitation if things are not getting totally out of proportion.

[2016-07-28 10:57] bhush9 commented on #254
We can test it for sure, but I wanted to avoid including it in default image.. mainly because current image itself is 400+ MB.

[2016-07-28 11:21] aleixpol commented on #254
Admittedly, it's a long shot. Ubuntu SDK and Desktop teams haven't adopted Snappy yet. OTOH, it's something that might be useful some day. Figuring out how to compile ubuntu-ui-toolkit can easily take a week to then realize it's not possible or having it break down the line again.

[2016-07-28 11:43] bhush9 commented on #213
I just figured this is bug in kmahjongg itself probably..

kmahjongg: '<caption>' missing.
kmahjongg: Use --help to get a list of available command line options.

[2016-07-28 11:48] bhush9 commented on #213
Right... so kmahjongg we pull is from ubuntu, and it is kde4 version, we can build on mobile CI if required..

[2016-07-28 15:19] bhush9 commented on #213
http://commits.kde.org/plasma-phone-components/8d31e6b819e147878df01f2f261d8f58108d0754

Fixes this. Mainly this was our launcher removing %c part from the command line. so actual command line,

```kmahjongg -caption %c```

would become,

```kmahjongg -caption```

Which resulted in error provided above, there was implementation to launch application with KRun, but wasn't used actually..

[2016-07-28 15:19] bhush9 commented on #213
I will target this for next week's image.

[2016-08-01 06:19] mgraesslin commented on #253
First item is caused by the patch to KWin to workaround a QtWayland problem.

[2016-08-01 06:44] mgraesslin commented on #252
No, that has nothing to do with xdg_shell. Shared memory is the wl_shm interface and that works in general. Given the warning about the Operation not permitted I think the problem is with apparmor. GTK is not allowed to create the shared-memory-file. In opposite Qt seems to be able to create such files as KWrite works on the phone.

[2016-08-01 06:48] bhush9 commented on #252
I would be surprised if it is apparmor issue, given in our kernel apparmor patches are not backported at all..

[2016-08-01 06:54] bhush9 commented on #252
So... I guess I should export GDK_BACKEND=x11 on phone then...

[2016-08-01 07:11] mgraesslin commented on #252
No, we should try to figure out where GTK tries to create the shm file and allow it in apparmor (or bug Ubuntu for having an apparmor rule breaking GTK/Wayland).

[2016-08-01 07:35] bhush9 commented on #252
Doing strace shows following,

[code]

memfd_create syscall was introduced in the kernel 3.18.. while on phone we have 3.4 kernel.. so it sounds like there is no possibility of having wayland with gtk on phone..

[2016-08-01 07:41] bhush9 commented on #252
Enabled in https://github.com/plasma-phone-packaging/live-config/commit/c0ad1cb8a8cc3c5fa1c369eb525661b47146f42b : will be included in next image..

[2016-08-01 11:40] bhush9 commented on #138
I've fixed it at packaging level to pass --phone to command line... it somehow fails to start even if PLASMA_PLATFORM=phone is set.

[2016-08-01 11:41] bhush9 commented on #138
In next image it will be working.

[2016-08-02 06:25] bhush9 commented on #248
Fixed in image published today..

[2016-08-02 06:39] bhush9 commented on #213
works in last image..

[2016-08-02 06:42] bhush9 commented on #252
Fixed in the last image..

[2016-08-05 15:22] bhush9 commented on #245
[code]

some more debug info for record..

[2016-08-05 15:30] bhush9 commented on #245
For start, I've removed all packages that I installed to get spacebar working.. To debug issue step by step, I am trying to get accounts import working first..

[2016-08-08 12:58] bhush9 commented on #106
Started putting patches on phab which I had worked on earlier,

https://phabricator.kde.org/D2369
https://phabricator.kde.org/D2372

Once last patch is in, will put patch for hwcomposer backend on review..

[2016-08-11 09:10] bhush9 commented on #106
![](http://i.imgur.com/9kqwS6v.jpg)

voila.. now battery monitor at least shows brightness slider.. but that doesn't actually set brightness, this needs investigation

[2016-08-11 12:09] bhush9 commented on #106
On more investigation this shows that powerdevil is currently reading brightness from `/sys/class/backlight/lm3630/brightness` and trying to write brightness on same interface however, this seems to be some dummy read-only interface and is not actually used by android lights module. Android lights module uses `/sys/class/leds/lcd-backlight/brightness` sysfs interface.

So to deal with this plan is

[2016-08-11 16:09] bhush9 commented on #106
On second thought.. this is still not making much sense and needs brainstorming.

Powerdevil have backlight helper which gets/sets the brightness through sysfs interface `/sys/class/backlight/` and it excepts type file in each subdir with raw, firmware or platform as content. Now `/sys/class/leds/lcd-backlight/` is as well similar brightness interface but it doesn't expose the type. Which is most

[2016-08-12 09:40] bhush9 commented on #106
With https://phabricator.kde.org/D2419 powerdevil is adjusted to use `/sys/class/leds/lcd-backlight` interface instead of `/sys/class/backlight/lm3630`. Now we ought to think solution for KWin hwcomposer backend resetting the brightness to 100% when toggling screen off-on..

Also I adjusted phone to use normal battery monitor,
- https://phabricator.kde.org/D2411
- https://phabricator.kde.org/D2412

[2016-08-12 11:07] bhush9 commented on #106
https://phabricator.kde.org/D2419 had minor bug which made it to take any leds from leds subclass.. http://commits.kde.org/powerdevil/62a88ee30 fixed that.

[2016-08-12 15:44] bhush9 commented on #106
After changes all of above, battery monitor is able to adjust brightness but as mentioned in previous comment, KWin adjust brightness to 100% when screen is turned off and on, for this two things will need to be adjusted
- http://phabricator.kde.org/D2424 - This makes kwin to not change brightness on its own
- change in powerdevil DPMS action to set brightness to 0 when DPMS is turned off.

After

[2016-08-17 08:09] bhush9 commented on #106
this morning I had another idea that what if I listen to brightnessChanged signal from solid dbus service, and use it to track screen brightness. I did implement code for it.. but turnsout brightnessChanged is not getting emitted.

seriously this brightness thingie is can of worms..

[2016-08-17 12:00] bhush9 commented on #106
In kwin idea above was implemented with, https://phabricator.kde.org/D2468 and powerdevil needs following fix for it to work properly : https://phabricator.kde.org/D2470

[2016-08-18 10:55] bhush9 commented on #106
Hurr durr.. all changes are in.. today's image will have this included... \o/

[2016-08-19 15:38] bhush9 commented on #253
Since all of issues are solved I am closing this one..

[2016-08-19 15:38] #253 closed

[2016-08-19 15:39] bhush9 commented on #106
20160819-141814 image have this working... great will be to have ambient light sensors working.. but thats different issue..

[2016-08-24 13:35] bhush9 opened #255 "Update libwayland to higher version"
[code]

Probably same should happen on KDE Neon as well.

[2016-09-20 11:33] jriddell commented on #195
neon-settings has the required files for this

I guess it needs the equivalent added to mobile's settings package

[2016-11-07 04:27] bhush9 commented on #255
This has been fixed for mobile.

[2016-11-07 04:27] #255 closed, assigned to nobody

[2017-01-10 18:30] star-buck opened #256 "[wifi]: says connected, but e.g. firefox or discover show no webcontent"

[2017-01-10 18:31] star-buck commented on #138
i still dont see it shipped, please ship again.

[2017-01-11 03:49] bhush9 commented on #256
This seems to be due to SSL errors, installing ntp package fixes it, I will install it on default image.

[2017-01-13 09:47] star-buck opened #257 "[activities]: allow to swipe to activities with left and right swipe (similar to android with multiple pages)"

[2017-01-13 10:15] bhush9 commented on #256
This is quite strange issue.. half of time it works and half time it doesn't (even with ntp installed and correct time set).. investigating.

[2017-01-16 15:19] notmart commented on #257
a very experimental version is in master, when an image is built should be possible to see how behaves and eventually refine

[2017-01-16 15:24] bhush9 commented on #257
I will package it up for next image this week

[2017-01-18 07:50] bhush9 commented on #257
Latest image seems to have it included but it doesn't seem to be working (Swiping on homescreen have no effect and it instead scrolls app drawer)

[2017-01-18 07:55] star-buck commented on #257
I suggest to ship 2 activities default activated, so its easier to explore
the possibilities of this right away.

[2017-01-18 09:23] bhush9 commented on #256
This should be fixed for Nexus 5..

[2017-01-20 12:31] bhush9 commented on #257
I just tested now, and it needs lot of precision to swipe and switch activity.. 75% of time it just scrolls app drawer.

[2017-01-20 15:11] notmart commented on #257
in master should switch a bit more easily

[2017-02-18 19:34] star-buck opened #258 "flashing nexus5x no longer finishes"

[2017-02-18 19:36] star-buck commented on #258
its showing "waiting for device" forever

[2017-02-19 01:04] aleixpol commented on #258
I've had that before (with the nexus5), flashing with sudo helped, although it basically means that your system didn't recognize the nexus5x as a device you can temper with.

[2017-02-20 06:03] bhush9 commented on #258
is it at fastboot stage? (i.e very start of script?) or later when there are calls to adb wait-for-device?

[2017-02-20 06:59] star-buck commented on #258
Later, device doesnt show up...

[2017-02-20 07:50] bhush9 commented on #258
Okay, so its case of adb wait-for-device thingie. Someone on telegram also had same issue, and he earlier provided me patch that worked for him.. I don't know why this never fails for me though :man_shrugging:

https://github.com/plasma-phone-packaging/pm-flashtool/commit/e2ebd2aa3020440088e374a12d4fb5d4e9ce7f59

Can you try this?

[2017-02-20 08:18] star-buck commented on #258
Please fix it so it works for all like it did before here.

[2017-02-20 08:22] bhush9 commented on #258
Yes, this commit above is supposed to fix it..

[2017-02-20 12:30] notmart commented on #258
i just flashed the 5x with master from pm-flashtool, worked out of the box

[2017-02-20 12:34] bhush9 commented on #258
Yeah, device with plasma mobile on it already have no problem.. its just devices with android as @star-buck's new phone is..

[2017-02-22 14:42] star-buck opened #259 "datetime: reads 1970 again"

[2017-02-22 14:53] bhush9 commented on #259
Are you connected to network? If so it would attempt to sync time from the ntp server..

[2017-02-22 14:54] bhush9 commented on #258
We can close this ticket I assume?

[2017-02-22 15:11] star-buck commented on #259
we had this working with a recent date before without ntp, so its a regression.

[2017-12-09 22:45] star-buck opened #260 "add dolphin"

[2017-12-09 22:45] #258 closed, assigned to bhush9

[2017-12-09 22:46] #257 closed, assigned to notmart

[2017-12-09 22:46] #252 closed

[2017-12-09 22:47] #83 closed

[2017-12-09 22:48] #250 closed

[2017-12-09 22:48] #248 closed

[2017-12-09 22:49] star-buck opened #261 "add kmahjongg"

[2017-12-09 22:50] #213 closed

[2017-12-09 22:50] star-buck commented on #213
needs shipping again, opened another ticket for that

[2017-12-09 22:51] #177 closed

[2017-12-09 22:52] #123 closed

[2017-12-09 22:55] star-buck opened #262 "List of installed apps (keep ticket open)"
[ ] Phone
[ ] Camera
[ ] Chess
[ ] Chromium
[ ] Discover
[ ] Firefox
[ ] Kirigami Gallery
[ ] Koko
[ ] Konsole
[ ] Marble Maps
[ ] Peruse
[ ] Settings
[ ] SpaceBar
[ ] Take Screenshot
[ ] Touch Test
[ ] Touch Test (double?)
[ ] vPlayer

[2017-12-09 22:57] star-buck commented on #262
remove one of the double Touch Test entries?

[2017-12-09 22:58] #245 closed

[2017-12-09 22:58] #138 closed

[2017-12-09 22:59] star-buck commented on #76
any suggestions what to ship for now?

[2017-12-09 23:06] star-buck opened #263 "KILL KWALLET!!!! (via empty passwords)"
Its stupidlz annoying as hell, please make it never appear or remove it

[2017-12-10 07:32] bhush9 commented on #262
There is just one Touch Test installed however it somehow shows up as double entry.. and I am not quite sure why.. that said Touch test application is now not required, it was added for debugging at Randa sprint, I will just remove it.

[2017-12-10 07:38] bhush9 commented on #106
Can we close this ticket? it seems to have been resolved.

[2017-12-10 07:39] bhush9 commented on #76
We can try elisa / babe music player..

[2017-12-10 07:41] luebking commented on #76
mpd. It has like no footprint, can maintain a local database, proxy a remote one and there's a truckload of clients.

[2017-12-10 08:20] bhush9 opened #264 "Some bugs in initial image with qt 5.9.3"
- [x] Qtvirtualkeyboard is not installed by default somehow
- [x] Scrollbars are huge (see attachment) (@notmart any ideas what changed recently?)
- [x] ~~panel struts are messed, top panel covers windows~~

I will at least fix the first issue and redo image so one can fix other two issues...

![photo6154713067909392351](https://user-images.githubusercontent.com/1061944/33803235-0c36cd9a-ddb1-11e7

[2017-12-10 12:27] bhush9 opened #265 "audio on nexus 5x (bullhead)"
- [x] new system img with audio_policy.conf ( 20171210-113748 )
- [x] new rootfs with pulseaudio configuration

[2017-12-10 14:17] bhush9 commented on #265
This has been done now. (rootfs version : `20171210-140255`)

[2017-12-10 15:13] star-buck commented on #265
I can reflash latest img to get sound now?

On Dec 10, 2017 6:17 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-10 15:18] bhush9 commented on #265
Yes, you can..  at least oh it's gorgeous works now! ;-)

[2017-12-10 15:20] bhush9 commented on #263
It's packaged, now I am waiting for kio rebuild on neon CI to finish so I can build image (not related to the kwallet problem), will mark it as Ready for QA when done

[2017-12-10 15:21] star-buck commented on #265
Ah nice to get that back ;)

Any chance for a music player ans some creative common tunes?

On Dec 10, 2017 7:18 AM, "Bhushan Shah" <notifications@github.com> wrote:

Yes, you can.. at least oh it's gorgeous works now! ;-)

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/blue-systems/pm-neon/issues/265#issuecomment-350555363>,
or

[2017-12-10 15:22] bhush9 commented on #265
I'll experiment on currently available music players once issue #264 is resolved, there are some stability issues I want to focus on first.

[2017-12-10 15:24] star-buck commented on #263
Thanks a ton for getting this done!

I cant even imagine how to present PM with this thing coming up all the
time and preventing anything remotely useful like opening a website with
chromium etc. :/

[2017-12-10 15:28] bhush9 commented on #256
This is now fixed? (there is Discover crash right now soon after starting but that's different issue)

[2017-12-10 15:35] star-buck commented on #256
Well, firefox crashing really prevents from knowing its fixed, but i assume
so.

Other than that, can you (or anyone else) confirm networkmanager doesnt
accept wifi password upon first entering it in the applet, even if
correctly and pops up to ask a second time?
Seems like this for latest mobile as well as on desktop, e.g. pinebook.

[2017-12-10 15:39] bhush9 commented on #256
I don't see this on current mobile image.. that said there was indeed a bug in plasma-nm which got fixed very recently... it might be that that bug fix is not released with latest plasma-nm version on pinebook.. but for mobile it works.

[2017-12-10 16:32] star-buck commented on #263
I assume its solved via empty password?

[2017-12-10 16:33] #256 closed, assigned to bhush9

[2017-12-10 16:34] star-buck opened #266 "firefox: crashing upon startup"

[2017-12-10 16:34] star-buck commented on #266
Btw., do we already package firefox quantum?

[2017-12-10 16:35] star-buck commented on #106
and closed

[2017-12-10 16:35] #106 closed

[2017-12-10 16:58] bhush9 commented on #263
Yes.. I'll include pre-configured kwallet so it won't ask for password, unfortunately I can't build image today, so tomorrow morning it will be

[2017-12-11 00:50] aleixpol commented on #263
Probably the right way to do it (and I guess how distros are configuring it nowadays) is by using it tied to PAM.

A quick search to show what I mean, unsure what's the right documentation ATM. https://www.dennogumi.org/2014/04/unlocking-kwallet-with-pam/

[2017-12-11 01:43] bhush9 commented on #263
kwallet-pam won't work with phone, see https://github.com/blue-systems/pm-neon/issues/163#issuecomment-143150406

[2017-12-11 05:06] bhush9 commented on #266
I'll need some help on this one, I believe since introduction of xdg shell in kwin_wayland firefox seems to crash on mobile, even if it is using Xwayland.. I don't know how to collect debug information so can't do much here.

Do @llelectronics or @shadeslayer know how to get debug log for firefox as they have dealt with firefox earlier.

[2017-12-11 05:52] bhush9 commented on #263
Fixed in `20171211-055004`

[2017-12-11 09:15] notmart commented on #263
the lock screen can't be used in any way to do that?

[2017-12-11 09:23] bhush9 commented on #263
No, when user enters password in lockscreen, it's too late and first kwallet dialog is already in background.. there was patch my the comment I pointed above mentions exactly that issue

[2017-12-11 11:23] bhush9 commented on #260
Fixed in `20171211-112034` image.

[2017-12-11 11:23] bhush9 commented on #261
Fixed in `20171211-112034` image.

[2017-12-11 15:05] bhush9 commented on #264
Realized panel struts are not broken but is shadow being fixed. 😄 also we have "fixed" issue of scrollbar in plasma-framework and have package uploaded on mobile CI. Will rebuild image with fix soon.

[2017-12-11 15:48] bhush9 commented on #265
just as FYI, there was bug in flash script, which made it re-use the old system.img if present, it is fixed in latest git master : https://github.com/plasma-phone-packaging/pm-flashtool/commit/75e195b27da3cad8bb0e4f9ea4a545dfb1094d0e

So if audio don't work, it might be that bug.

[2017-12-11 18:01] star-buck opened #267 "Flashing latest img never comes up, stuck at google startscreen :/"
log:

[2017-12-11 18:10] bhush9 commented on #267
It seemed to work fine for me with multiple reflash whole day, bbut nevertheless I'll try to investigate tomorrow

[2017-12-11 18:11] star-buck commented on #267
Can you CONFIRM its not working on nexus5x??

On Dec 11, 2017 10:10 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-11 18:12] bhush9 commented on #267
A different issue I have seen is there is a slight delay of approximate ~30 second before UI starts.. maybe it's that?

[2017-12-11 18:15] star-buck commented on #267
CAN YOU TEST IT instead of asking questions???

On Dec 11, 2017 10:12 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-11 18:20] bhush9 commented on #267
I've tested it, that's what I mentioned in first comment.. and last notmart also flashed just fine.. at moment I've already gone off to bed so I am afraid I can't test it.. (11:50 pm, will test and report back tomorrow morning)

[2017-12-11 18:38] star-buck commented on #267
It is NOT working, 100% confirmed, also not after waiting 30 seconds or 3
minutes...
I dont care if you tested flashing any PREVIOUS imgs, as those were working
fine for me too.
I only care you tested the LAST img after you changed anything COMPLETE
redownloading and flashing from your own script, and that is broken, so
nothing else counts.

On Dec 11, 2017 10:21 AM, "Bhushan Shah" <notifications@

[2017-12-11 19:14] bhush9 commented on #267
Okay, I just confirmed what is issue and have uploaded a fixed image (basically file corruption on server, sorry for that)

And FWIW I've flashed same image earlier but then had to check file on image server and in process file got corrupted

Issue should be resolved now..

[2017-12-11 20:44] #267 closed, assigned to bhush9

[2017-12-11 20:45] star-buck opened #268 "Low disk space right after flashing and starting some programs"

[2017-12-11 20:45] #260 closed, assigned to bhush9

[2017-12-11 20:45] #261 closed, assigned to bhush9

[2017-12-11 20:45] #263 closed, assigned to bhush9

[2017-12-12 07:55] bhush9 commented on #268
I'll do two things about this issue,

- update flasher script to resize root partition after flashing is done
- include a resize-root-partition script in the pm-flashtool which will allow to resize partition to bigger size manually.

[2017-12-12 07:56] bhush9 commented on #266
Forgot to mention, but:

Yes, the firefox in image seems to be firefox quantum already (based on icon)

[2017-12-12 08:05] bhush9 opened #269 "Discover can't be installed during phone image build"
[code]

[2017-12-12 08:06] bhush9 commented on #262
A small change in the app ist entries

I will temporary not include the discover for few upcoming images, as they are breaking the image build, as soon as discover packaging is fixed in the neon.. Creating seperate issue for that..

https://github.com/blue-systems/pm-neon/issues/269

[2017-12-12 09:15] bhush9 commented on #268
https://github.com/plasma-phone-packaging/pm-flashtool/commit/4b04a7588aa7367fa24dad9626f8a34024d31810 Fixed

[2017-12-12 10:14] bhush9 commented on #264
All issues fixed in `20171212-101208`

[2017-12-12 15:12] star-buck commented on #269
Are you sure discover REQUIRES flatpak?
It was always discussed as being optional.

On Dec 12, 2017 12:05 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-12 15:14] star-buck commented on #268
so when flashing next image, it will be auto-resized?

On Dec 12, 2017 1:15 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-12 15:17] bhush9 commented on #268
Yes, It will have 4GB of space (out of which approx 1.7GB-ish is used..

[2017-12-12 15:17] aleixpol commented on #269
Yes, it's optional, only need to hold `plasma-discover-flatpak-backend`. (although I don't think I understand the error message you are getting)

[2017-12-12 15:23] bhush9 commented on #269
Ah, sorry I realized now that it's plasma-discover-flatpak-backend is what is at fault.. I will revert my change and install just plasma-discover.

Sorry for confusion, will include in last image I will build before going off today.

[2017-12-12 15:24] bhush9 commented on #269
(neverthless, discover build needs to be fixed on neon CI anyway)

[2017-12-12 18:02] #264 closed, assigned to bhush9

[2017-12-12 18:03] star-buck opened #270 "fix 20 seconds delay between start sound and login screen coming up"

[2017-12-12 18:07] star-buck opened #271 "settings: kcms like "mobile theme" failed to load"

[2017-12-12 18:10] star-buck opened #272 "Plasma-Settings: does not invoke Home/Task/Close button, also blocks topmenubar from being dragged down"

[2017-12-12 18:11] #265 closed, assigned to bhush9

[2017-12-12 18:11] #268 closed, assigned to bhush9

[2017-12-12 18:11] bhush9 commented on #271
It's fixed, just needs shipping iin image: https://github.com/plasma-phone-packaging/plasma-settings-packaging/commit/d4d88bb5a894555f213c9bfc6a8f3e2371cb6152

[2017-12-12 18:18] star-buck opened #273 "Set password for phablet to '1234' again"

[2017-12-12 18:19] star-buck commented on #273
1234 does not work

[2017-12-12 18:20] star-buck commented on #271
also other kcms doesnt load, hope this fixes all of them to be normal loading

[2017-12-12 18:22] star-buck opened #274 "Question: How-to "adb shell" into current PM from remote konsole?"

[2017-12-12 18:23] bhush9 commented on #271
Yes

[2017-12-12 18:34] star-buck opened #275 "Chromium: uses "old" keyboard, some buttons like enter, backspace, etc. dont work and crash chromium immediately"

[2017-12-12 18:35] bhush9 commented on #274
With halium 7 adb is not working so, instead a remote access is provided through USB networking,

When plasma mobile is connected through USB, it will expose USB tethering network (named usb0 or rndis0 or enp0usb*)

It will get IP address through DHCP automatically and then you will be able to ssh into it

[code]

If IP address is not assigned automatically you need to apply IP address in range of

[2017-12-12 18:35] star-buck commented on #273
any answer on this? i'm quite stuck on not knowing the password.

[2017-12-12 18:36] bhush9 commented on #273
Password is not set by default, you will need to set it with passwd command.. I do plan to fix flash script to set default password tomorrow

[2017-12-12 18:37] star-buck commented on #274
thanks, but again whats the password to proceed?

[2017-12-12 18:37] bhush9 commented on #274
I just commented in other ticket.

[2017-12-12 18:38] bhush9 commented on #275
Not much we can do given the qtvirtualkeyboard offers keyboard only for Qt applications and not gtk applications..

[2017-12-12 18:39] bhush9 commented on #275
IIRC there was plan to make qtvirtualkeyboard provide maliit interface to get this working, adding notmart to ticket

[2017-12-12 18:43] star-buck commented on #273
Why is it suddenly no longer set?
Please set it to 1234 again.

[2017-12-12 18:46] bhush9 commented on #273
It was never set after we moved away from Ubuntu touch... There is limitation in lockscreen that if password is not set it will accept any password it can, which made entering 1234 in lock screen work, but in reality password was never set... It was always manual

[2017-12-12 18:50] star-buck commented on #275
old keyboard is pretty much useless with chromium, just try entering any URL and you see why (first char is omitted, entering a "." dot is a chore as its closing the program, enter does close the program, backspace closes and gets stuck next time opening, etc.

[2017-12-12 19:07] star-buck commented on #273
Okay, so lets set it again according to our documentation on the website to
1234 again.

On Dec 12, 2017 10:46 AM, "Bhushan Shah" <notifications@github.com> wrote:

It was never set after we moved away from Ubuntu touch... There is
limitation in lockscreen that if password is not set it will accept any
password it can, which made entering 1234 in lock screen work, but in
reality password was never

[2017-12-12 20:07] jriddell commented on #269
now compiled in neon CI

[2017-12-13 08:27] bhush9 commented on #273
Fixed in https://github.com/plasma-phone-packaging/pm-flashtool/commit/e51fc3b790862cfc7a34cc502d389406d962c9b3

[2017-12-13 08:29] bhush9 commented on #274
Marking as Ready for QA as password is set in #273

[2017-12-13 14:03] notmart commented on #275
not that i know, the problem as far i see is that chromium (and firefox) are xwayland, while the new keyboard looks like is wayland only.
if the problem is just the old keyboard layout we can adapt it, from the description of the problem seems that chromium is actually crashing?

[2017-12-13 15:08] bhush9 commented on #272
This is rather strange : I just investigated this and turns out we had fix for this same issue : https://cgit.kde.org/plasma-settings.git/commit/?id=3ad88ec14b4447f72d52d7df735e9e406a1f1df9

I will investigate further

[2017-12-13 16:21] bhush9 commented on #271
Fixed in `20171213-161601` image.

[2017-12-13 16:29] bhush9 commented on #269
Discover is also installed, so marking as Ready for QA.

[2017-12-13 17:04] star-buck commented on #269
Can I flash new img to test?

On Dec 13, 2017 8:29 AM, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-13 17:19] bhush9 commented on #269
Yes latest image have it installed.

[2017-12-13 17:44] star-buck commented on #76
for the purpose of demonstrating "a full linux stack + plasma desktop in your pocket" awesomeness
- install "audacious"
- set default to "Winamp Style" and "double size"

[2017-12-13 17:56] #269 closed, assigned to nobody

[2017-12-13 18:01] #273 closed, assigned to bhush9

[2017-12-13 18:08] #274 closed, assigned to bhush9

[2017-12-13 18:09] #271 closed, assigned to nobody

[2017-12-13 18:09] star-buck commented on #271
works great again.

[2017-12-13 18:25] star-buck commented on #266
would be pretty nice to have ff not crashing

[2017-12-13 18:27] star-buck opened #276 "Battery: show percentage again default"
We had that default showing on before, it is pretty important to see and judge battery performance.

[2017-12-13 18:29] bhush9 commented on #276
@notmart can you take a look at this one? Given you worked on top panel

[2017-12-13 18:44] star-buck opened #277 "vplayer: doesnt playback any video file (tried mp4, mkv, webm), add: ubuntu-restricted-extras gstreamer1.0-plugins-bad gstreamer1.0-libav libavcodec-extra"
it displays stuck at 0:00/0:01, so i guess it's missinmg something for playback/decoding?

[2017-12-13 18:47] bhush9 commented on #277
Yes I had plan to work on QtMultimedia bits today, but unexpectedly there was issue which prevented image from booting. So couldn't finish it..

I'll work on it tomorrow

[2017-12-13 18:51] star-buck commented on #277
here is whats needed:
"sudo apt install ubuntu-restricted-extras gstreamer1.0-plugins-bad gstreamer1.0-libav libavcodec-extra"

Works perfectly with HD video playback :)

[2017-12-13 18:52] star-buck commented on #277
so just installing those packages will make everything work!

[2017-12-13 18:59] bhush9 commented on #277
That won't support all the video formats unfortunately, and also that video is software rendered so it's super laggy/and drops frames, I can install this package, but real solution is to get to gst-droid packaged.. which will also fix the camera

[2017-12-13 19:08] bhush9 commented on #277
Also, gst-droid avoids issue of inclusion and distribution of non-free ubuntu-restricted extra in image..

[2017-12-14 14:41] star-buck commented on #277
I  am getting super smooth video playback, also support of most fileformats
I tried so far.

Please install as advised and spin a new img, also with audacioususoc
player.

On Dec 13, 2017 11:08 AM, "Bhushan Shah" <notifications@github.com> wrote:

Also, gst-droid avoids issue of inclusion and distribution of non-free
ubuntu-restricted extra in image..

—
You are receiving this because you authored

[2017-12-14 15:07] bhush9 commented on #259
This issue is fixed locally, marking it as needs shipping as image is left to publish.

[2017-12-14 15:54] bhush9 commented on #76
I might be blind, but i can't find option to set "double size"?

[2017-12-14 15:56] star-buck commented on #76
Its in one of the dropdown menus, not the settings.

On Dec 14, 2017 07:54, "Bhushan Shah" <notifications@github.com> wrote:

I might be blind, but i can't find option to set "double size"?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/blue-systems/pm-neon/issues/76#issuecomment-351751534>,
or mute the thread
<https:/

[2017-12-14 16:02] llelectronics commented on #76
If you right click on the player you can set it.

[2017-12-14 16:03] bhush9 commented on #76
And how do I do it on phone? :P

[2017-12-14 16:19] star-buck commented on #76
Just see on the desktop and ship the config.

On Dec 14, 2017 08:03, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-14 16:21] bhush9 commented on #76
Yeah, figured out config entry.. will build image in few minutes.

[2017-12-14 17:41] bhush9 commented on #259
Newer image `20171214-165756` should fix at least 1970. However solution in this image is missing one last bit which makes it show exact correct time and date.. I will include it in next image.

[2017-12-14 17:42] bhush9 commented on #277
IMG `20171214-165756` fixes this.

I however still prefer to get gst-droid included to avoid the licensing issues with ubuntu-restricted-extras.

[2017-12-14 17:44] bhush9 commented on #76
Image `20171214-165756` includes audacious, however somehow the Winamp style is not default, will correct in next image.

[2017-12-14 17:47] bhush9 commented on #197
This will need the gst-droid packaged. I will include it in next image, I already have it working locally.

[2017-12-15 15:18] bhush9 commented on #272
Fixed in recent git master, yet to land in new image which I am afraid I won't be able to today..

[2017-12-15 18:38] #277 closed, assigned to bhush9, llelectronics

[2017-12-15 20:25] star-buck commented on #76
lets also set "default font sizes" for playlist and player from 9 to 24 pixels, and disbale bitmap font.

[2017-12-15 20:25] #76 closed

[2017-12-16 01:52] star-buck opened #278 "Appearance kcm: Choosing another theme like Breeze Dark doesnt fully apply the theme"

[2017-12-18 08:04] bhush9 commented on #270
For some reason, for first few seconds, kwin fails to initialize disaplay it seems from initial investigation, I will try to figure this out.

[2017-12-18 10:54] notmart commented on #278
with a normal mouse wheel?
here one wheel step in the systemsettings sidebar scrolls by slightly less than the height of an entry, and seems to feel quite natural, should it be more?

[2017-12-18 11:43] notmart commented on #278
I have a couple of questions:
* is there something specific that doesn't get applied?
* is it from look&feel kcm or the plasma desktop theme kcm?

[2017-12-18 15:46] star-buck commented on #278
Wrong ticket?

On Dec 18, 2017 02:54, "Marco Martin" <notifications@github.com> wrote:

[2017-12-18 15:47] star-buck commented on #278
While being on topic, this ticket is related to PM as in Plasma Mobile

On Dec 18, 2017 03:43, "Marco Martin" <notifications@github.com> wrote:

[2017-12-19 07:02] bhush9 commented on #266
downgrading firefox "fixes" it, but would be nice to debug it first

[code]

[2017-12-19 13:38] bhush9 commented on #266
So this seems to be "regression" from firefox side, yet to find out what is bug but I also tried firefox-esr from ppa and it seems to work, I think till bug is fixed we can ship firefox-esr?

[2017-12-19 16:07] bhush9 opened #279 "install kwayland-integration on phone"
This will make auto-turn-of-screen-after-X-seconds work.. but installing kwayland-integration breaks top panel so that needs to be resolved first.

[2017-12-19 16:45] bhush9 commented on #278
This seems to have been caused by out of date plasma-framework, fixed in `20171219-163639`

[2017-12-19 16:46] bhush9 commented on #272
Fixed in `20171219-163639`

[2017-12-19 16:50] bhush9 commented on #266
To get it working locally

[code]

[2017-12-19 16:51] bhush9 commented on #259
This is fixed properly in latest image. please test.

[2017-12-19 16:58] bhush9 commented on #270
I investigated it more and I've at least solved the initial delay before starting android container locally, but kwin_wayland still takes time to render, I am not sure what is wrong about that yet, I will investigate more tomorrow

[2017-12-19 17:04] star-buck commented on #266
We want ff quantum for several reasons, primary is because startup is much
faster compared to old versions.

The question is why doesnt it start and if related to wayland or anything
only happening on plasma side, we need to fix it for wayland desktop plasma
anyway.

On Dec 19, 2017 08:50, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-19 17:11] bhush9 commented on #197
Update: Everything needed is packaged, but needs to be bundled inside the image. However there is a conflict between the codecs installed in ticket #277 as mentioned there. There is option to solve it which is gst-omx, and I've it packaged also, most of the formats are also working there with hardware accelerated video.. :-)

However it is possible that my testing is limited, so i haven't shipped

[2017-12-19 17:12] bhush9 commented on #266
That is regression from firefox side, I am talking with people in firefox IRC network and trying to pin-point it. It was false to assume that problem was on our side.

[2017-12-19 17:12] bhush9 commented on #266
(To be more specific there is regression which affects on ARM platform)

[2017-12-19 17:25] star-buck commented on #266
Armhf? Because it works on the pinebook....

On Dec 19, 2017 09:12, "Bhushan Shah" <notifications@github.com> wrote:

[2017-12-19 17:29] bhush9 commented on #266
We've identified possibly related bug report to be : https://bugzilla.mozilla.org/show_bug.cgi?id=1306746 which is mostly reported on armhf / android devices, though we are not sure as I can't get useful backtraces yet.. currently information crash itself is really vague but at least surely is not issue on side of Plasma.

[2017-12-20 16:10] bhush9 commented on #259
https://github.com/plasma-phone-packaging/pm-flashtool/commit/7b40d3d6a0d9c3ddb88a811184f2f7ed5d6a634c you will also need this commit in flashtool... appearantly i forgot to push this fix earlier

[2017-12-22 17:32] bhush9 commented on #197
@star-buck is camera required for demo at Dec 27? If so I can roll a image with camera fix..

[2017-12-22 17:35] star-buck commented on #197
Nice to have yes, but not really needed.

On Dec 22, 2017 09:32, "Bhushan Shah" <notifications@github.com> wrote:

[2018-01-29 14:23] bhush9 commented on #270
`20180124-113114` image have this fixed.

random note: instead of lockscreen, it will boot to plasmashell as lockscreen on startup is disabled, based on feedback in matrix and telegram lockscreen confuses people since they have not enabled it.. this haven't disabled lockscreen completely but just on startup..

[2018-02-08 13:16] star-buck commented on #276
@bhush9 : can this be closed?

[2018-02-08 13:16] star-buck commented on #266
@bhush9 : please look into this with priority to get fixed with FF Quantum.

[2018-02-08 13:20] bhush9 commented on #276
yeah this is fixed.. Marking as ready for QA

[2018-02-08 13:29] bhush9 commented on #266
Copy pasting from IRC:

I am afraid I can't do much, this is regression from upstream and I've reported them the crasher with the backtrace but otherwise I haven't heard back from them

[2018-02-08 13:45] #276 closed, assigned to bhush9

[2018-02-08 13:46] star-buck commented on #270
hmm, now the desktop appear first, then 5-10 seconds later the login screen overlays it?

[2018-02-08 13:51] star-buck commented on #259
now it reads February 15th 2018 on todays date ;)

[2018-02-08 13:51] #259 closed, assigned to bhush9

[2018-02-08 13:51] star-buck commented on #278
works

[2018-02-08 13:51] #278 closed, assigned to nobody

[2018-02-08 13:51] star-buck commented on #272
works

[2018-02-08 13:51] #272 closed, assigned to nobody

[2018-02-08 13:52] star-buck commented on #195
@bhush9 : kinfocenter now missing on current img?

[2018-02-08 13:52] #270 closed, assigned to bhush9

[2018-02-08 13:53] star-buck opened #280 "plamo containment appears first, then 5-10 seconds later the login screen comes up"

[2018-02-08 14:00] star-buck opened #281 "fix mtp to work again"

[2018-02-08 14:02] bhush9 commented on #280
Lockscreen on startup is disabled, it was one of reasons somehow kwin_wayland startup was taking long.. this is pending investigation on why it used to happen but at least it have reduced startup time drastically.

[2018-02-08 14:02] star-buck commented on #197
@bhush9 : please ship fix.

[2018-02-08 14:09] star-buck opened #282 "make 2 activities default again"

[2018-02-08 14:10] star-buck opened #283 "topbar: wifi: if deactivating wifi, the option disappears complete without chance to activate again"

[2018-02-08 14:11] star-buck commented on #280
okay, lets still get this fixed as it was working fine before without the delay.

[2018-02-08 14:12] star-buck commented on #279
what is this,  "kwayland-integration"?

[2018-02-08 14:17] star-buck opened #284 "add "kinfocenter" back again (not sure why it got removed)"

[2018-02-08 14:19] star-buck opened #285 "remove "spacebar" app (its deprecated and doesnt even start on latest img)"

[2018-02-08 14:20] star-buck commented on #195
closing here, just needs kinfocenter installed again then works fine

[2018-02-08 14:20] #195 closed

[2018-02-08 14:27] star-buck opened #286 "dolphin: set icon size = 96px"

[2018-02-08 14:30] star-buck opened #287 "gst-omx: build alternative img with gst-omx to test video and camera support"

[2018-02-08 14:36] star-buck opened #288 "plamo-containment: press and hold to bring up wallpaper&widgets menu doesnt come up reliably anymore"

[2018-02-08 15:57] star-buck opened #289 "prepare pm-neon img on bionic 18.04"
to be able to flash both, one could e.g. use the flash parameter "neon-bionic"

[2018-02-08 20:11] star-buck commented on #254
@bhush9 : since we use this nice little videoplayer from leszek on Plamo (which seems gotten an update):
https://openrepos.net/content/llelectronics/lls-video-player

please see if you can package this version of animal farm from here and try if it runs: https://openrepos.net/content/kuba77/sail-animal-farm

[2018-02-09 01:22] aleixpol commented on #254
I doubt it's doable, many sailfish API's are closed-source.

[2018-02-09 06:16] bhush9 commented on #279
kwayland-integration is one of dependency of plasma-wayland, which is required for e.g idletime and various kwindowsystem related functionalities.. but however since it breaks top panel we are not installing on phone.

https://cgit.kde.org/kwayland-integration.git/

[2018-02-09 09:52] llelectronics commented on #254
Needs a simple port. My video player is also a port where I just use some underlying logic from the Sailfish version but rewrote the whole UI + someone ported that UI to Kirigami even and I gladly accepted this code. As the Sailfish UI is so unique it also would not make much sense to have it directly running on Plasma Mobile as it would feel totally out of place.

[2018-02-09 16:04] bhush9 commented on #287
`20180209-155413` rootfs

`20180209-134208` halium image update

This two includes the fix for this.. reflash will have working video and camera.

[2018-02-09 16:05] bhush9 commented on #285
`20180209-155413` fixes this

[2018-02-09 16:06] bhush9 commented on #197
`20180209-155413` fixes this

[2018-02-10 12:45] bhush9 commented on #283
This is more or less hardware bug, I will self-assign.. (bug being the wireless is controlled by android container rather then the Linux userspace..)

[2018-02-11 11:47] bhush9 commented on #286
Icon size is 96 default already? If I set it in config file it makes no difference?

[2018-02-13 08:37] bhush9 commented on #279
This has been fixed in recent git master of plasma-phone-components, and needs shipping.

[2018-03-13 09:06] bhush9 commented on #287
Random note: upstream gst-droid/droidmedia have gained support for the android 7 codecs (in WIP branch although still) making the gst-omx obsolete.. so once neon CI is back in order, I will try to make a new rootfs with gst-droid including WIP patch, and gst-omx removed. This will hopefuly fix the video playback issues you had I believe.

[2018-08-22 17:20] star-buck opened #290 "mycroft: provide necessary packages for n5x, that can then be either pre-installed or installed manually through synaptic/discover"
provide packages for
- mycroft-core: https://github.com/MycroftAi/mycroft-core
- mycroft-plasma-mobile: https://cgit.kde.org/scratch/adityam/plasma-mycroft-mobile.git/

[2018-08-23 08:12] star-buck commented on #290
plasma-enabled skills are currently outside official mycroft repos, so cannot installed via voice command, e.g. food-wizard:
https://github.com/AIIX/food-wizard

to manually install:
cd mycroft-core, source .venv/bin/activate and then msm install repourl
![manual-installation-of-skills](https://user-images.githubusercontent.com/840070/44479550-34940100-a641-11e8-84b3-ebe546431ba1.jpg)

[2018-08-24 07:43] star-buck opened #291 "mycroft-core: provide it as self-extracting DEB package"
mycroft-core: https://github.com/MycroftAi/mycroft-core

[2018-08-24 07:44] star-buck opened #292 "mycroft-plasma-mobile: package as regular DEB"
mycroft-plasma-mobile: https://cgit.kde.org/scratch/adityam/plasma-mycroft-mobile.git/

[2018-08-24 07:49] hsitter commented on #291
Is this different form #290?

[2018-08-24 08:08] star-buck commented on #291
its just split out into two things, since we handle both differently

[2018-08-24 09:58] hsitter commented on #290
https://github.com/plasma-phone-packaging/mycroft-core
https://github.com/plasma-phone-packaging/plasma-mycroft-mobile

NB: since the (desktop) plasmoid by default looks in ~/mycroft-core for the mycroft install, it's easiest to `ln -s /opt/mycroft $HOME/mycroft-core` to get a functional setup.

Also, this stuff is geared towards the mobile system because of how mycroft-core continues to not reall

[2018-08-27 16:00] AIIX commented on #290
All default skills come with their own requirements.txt which have the python dependencies required for the skill to work Mycroft Skills Manager (msm) installs those dependencies in the virtual environment (at least on the git version) where the skills look for the dependency, all default skills are installed generally when the user first time starts up mycroft and msm is responsible for handling

[2018-09-20 08:24] star-buck opened #293 "network: wifi networks come up only after 1 minute"

[2018-09-20 08:24] star-buck opened #294 "multimedia: make video work"

[2018-09-20 08:24] #292 closed, assigned to bhush9

[2018-09-20 08:25] #291 closed, assigned to hsitter

[2018-09-20 08:25] #290 closed, assigned to jriddell, hsitter, bhush9, AIIX

[2018-09-20 08:25] #289 closed, assigned to bhush9

[2018-09-20 08:25] #285 closed, assigned to bhush9

[2020-02-17 12:58] star-buck opened #295 "monthly goals (keep open)"
For each month, lets write a comment what will be worked on and what targets are next for the plasma mobile project.

[2020-02-17 14:48] bhush9 commented on #295
# February goals / work in progress items

## Pinephone

- Call audio and telephony functionality
- Basic power management like, automatically turning off screen after inactivity of ~15-30 seconds
- Waking up device on demand for checking notifications etc

For all of these 3, kernel side is done, needs some userspace integration and testing.

# Some stretch goals which can extend to March

## KWi